Repository astarte-platform/astarte, changes with the labels that .github/labeler.yml gives for each.
All labels: app:appengine_api, app:data_updater_plant, app:housekeeping, app:housekeeping_api, app:pairing, app:pairing_api, app:realm_management, app:realm_management_api, app:trigger_engine

Add support to get AppEngine and Pairing version
  astarte-dashboard/src/astarte-client/client.ts
Labels: none

Displaying API versions in the ApiStatusCard section
  astarte-dashboard/src/HomePage.tsx
Labels: none

WIP address DUP test flakiness
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater_test.exs
Labels: app:data_updater_plant

realm management api flakiness
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/device_controller_test.exs
Labels: app:realm_management_api

Allow to reach your docker-compose instance from outside your host
  .env
  CHANGELOG.md
  docker-compose.yml
Labels: none

Handle lists and simple values in xml_write_full_element
  tools/astarte_export/lib/astarte/xml_generate.ex
Labels: none

Refactor and extend from_native_type function
  tools/astarte_export/lib/astarte/fetchdata/fetchdata.ex
Labels: none

.github/labeler.yml:

# Copyright 2019 SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

app:appengine_api:
  - apps/astarte_appengine_api/**

app:data_updater_plant:
  - apps/astarte_data_updater_plant/**

app:housekeeping:
  - apps/astarte_housekeeping/**

app:housekeeping_api:
  - apps/astarte_housekeeping_api/**

app:pairing:
  - apps/astarte_pairing/**

app:pairing_api:
  - apps/astarte_pairing_api/**

app:realm_management:
  - apps/astarte_realm_management/**

app:realm_management_api:
  - apps/astarte_realm_management_api/**

app:trigger_engine:
  - apps/astarte_trigger_engine/**
