Repository astarte-platform/astarte, pull requests merged in 2019-12, with the labels that each got.

#110 Prepare 0.10.2 release
  CHANGELOG.md
  Dockerfile
  doc/mix.exs
  docker-compose.yml
Labels: chore

#111 Device unregister docs
  doc/pages/user/035-register_device.md
Labels: documentation

#126 endpoint: add a new socket route under /v1/socket
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/endpoint.ex
Labels: API, app:appengine_api, chore

#118 migrator: handle {:error, reason} in execute_migrations
  apps/astarte_housekeeping/lib/astarte_housekeeping/migrator.ex
Labels: app:housekeeping

#120 Fix database retention migration
  apps/astarte_housekeeping/lib/astarte_housekeeping/migrator.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_housekeeping/test/astarte_housekeeping/migrator_test.exs
Labels: app:housekeeping, blocking, database

#124 Move /health endpoint
  apps/astarte_housekeeping_api/CHANGELOG.md
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/controllers/realm_controller.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/router.ex
Labels: API, app:housekeeping_api

#127 docs: More tools deprecations
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
  generate-compose-files.sh
Labels: documentation

#166 Update phoenix_swagger, unlock unused dependencies
  apps/astarte_appengine_api/mix.lock
Labels: app:appengine_api

#43 Add troubleshooting page
  doc/pages/user/090-troubleshooting.md
Labels: documentation, enhancement, good first issue, help wanted

#173 README.md: stop linking archived repositories
  README.md
Labels: chore

#176 Add support for mapping database retention policy and ttl
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_data_updater_plant/test/support/database_test_helper.exs
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management/test/support/database_test_helper.exs
  apps/astarte_realm_management_api/mix.lock
Labels: app:data_updater_plant, app:realm_management, app:realm_management_api, database, enhancement, main feature

#177 Remove all duplicated LICENSE files
  apps/astarte_appengine_api/LICENSE
  apps/astarte_data_updater_plant/LICENSE
  apps/astarte_housekeeping/LICENSE
  apps/astarte_housekeeping_api/LICENSE
  apps/astarte_pairing/LICENSE
  apps/astarte_pairing_api/LICENSE
  apps/astarte_realm_management/LICENSE
  apps/astarte_realm_management_api/LICENSE
  apps/astarte_trigger_engine/LICENSE
Labels: chore

#178 Keep just one AUTHORS.md file
  AUTHORS.md
  apps/astarte_data_updater_plant/AUTHORS.md
  apps/astarte_housekeeping/AUTHORS.md
  apps/astarte_housekeeping_api/AUTHORS.md
  apps/astarte_pairing/AUTHORS.md
  apps/astarte_pairing_api/AUTHORS.md
  apps/astarte_realm_management/AUTHORS.md
  apps/astarte_realm_management_api/AUTHORS.md
  apps/astarte_trigger_engine/AUTHORS.md
Labels: chore

#180 Remove unused supervisor.conf
  supervisor.conf
Labels: chore

#179 Merge all CHANGELOG.md files
  CHANGELOG.md
  apps/astarte_appengine_api/CHANGELOG.md
  apps/astarte_data_updater_plant/CHANGELOG.md
  apps/astarte_housekeeping/CHANGELOG.md
  apps/astarte_housekeeping_api/CHANGELOG.md
  apps/astarte_pairing/CHANGELOG.md
  apps/astarte_pairing_api/CHANGELOG.md
  apps/astarte_realm_management/CHANGELOG.md
  apps/astarte_realm_management_api/CHANGELOG.md
Labels: chore

#175 README revamp
  README.md
Labels: documentation

#181 Prepare 0.11.0-beta.1 release
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_appengine_api/test/support/database_test_helper.exs
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  docker-compose.yml
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore
