Repository astarte-platform/astarte, pull requests merged in 2020-07, with the labels that each got.

#433 housekeeping_api: remove datacenter name regex check
  CHANGELOG.md
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/realms/realm.ex
  apps/astarte_housekeeping_api/test/astarte_housekeeping_api/realms/realms_test.exs
Labels: app:housekeeping_api, user experience

#434 housekeeping: remove datacenter regex check
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
Labels: user experience

#431 appengine_api: s/local_quorum/quorum/g
  apps/astarte_appengine_api/lib/astarte_appengine_api/health.ex
Labels: app:appengine_api, blocking, bug

#428 housekeeping: increase the delay between connection attempts
  CHANGELOG.md
  apps/astarte_housekeeping/lib/astarte_housekeeping/release_tasks.ex
Labels: app:housekeeping, blocking, minor

#435 housekeeping: add realm deletion
  CHANGELOG.md
  apps/astarte_housekeeping/config/test.exs
  apps/astarte_housekeeping/lib/astarte_housekeeping/config.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/engine.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/rpc/handler.ex
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping/test/astarte_housekeeping/rpc/amqp_server_test.exs
  apps/astarte_housekeeping/test/support/database_test_helper.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/realms/realms.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/rpc/housekeeping.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/controllers/fallback_controller.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/controllers/realm_controller.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/router.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/views/error_view.ex
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_housekeeping_api/test/astarte_housekeeping_api_web/controllers/realm_controller_test.exs
  apps/astarte_housekeeping_api/test/support/astarte_housekeeping_mock.ex
  apps/astarte_housekeeping_api/test/support/astarte_housekeeping_mock_db.ex
Labels: app:housekeeping, app:housekeeping_api, database, main feature, user experience

#438 appengine_api: always consider push to properties interfaces succesful
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
Labels: app:appengine_api, bug

#426 data_updater_plant: default data queue count to 128
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
Labels: blocking, minor

#445 realm_management: decode the JSON action string before matching it
  CHANGELOG.md
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/mix.exs
Labels: app:realm_management, bug

#448 appengine_api: remove `topic` from channel metrics
  CHANGELOG.md
  apps/astarte_appengine_api/config/config.exs
Labels: app:appengine_api, minor

#449 Add ignore_ssl_errors option to trigger action
  CHANGELOG.md
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
  doc/pages/architecture/060-triggers.md
Labels: app:trigger_engine, enhancement, user experience

#450 realm_management: static_headers need to be passed as list
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
Labels: app:realm_management, bug

#444 Fix default ports
  apps/astarte_housekeeping/lib/astarte_housekeeping/config.ex
  apps/astarte_pairing/lib/astarte_pairing/config.ex
  apps/astarte_realm_management/lib/astarte_realm_management/config.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/config.ex
Labels: app:housekeeping, app:pairing, app:realm_management, app:trigger_engine, minor
