Repository astarte-platform/astarte, pull requests merged in 2020-11, with the labels that each got.

#482 Support Sendgrid for sending mails
  tools/astarte_e2e/lib/astarte_e2e/config.ex
  tools/astarte_e2e/lib/astarte_e2e/config/bamboo_mail_adapter.ex
Labels: enhancement

#483 Drop `ASTARTE_` prefix from env vars
  .github/workflows/astarte-end-to-end-test-workflow.yaml
  tools/astarte_e2e/lib/astarte_e2e/config.ex
Labels: chore

#485 s/MAILER_/MAIL_/g
  tools/astarte_e2e/lib/astarte_e2e/config.ex
  tools/astarte_e2e/lib/astarte_e2e/service_notifier/email.ex
Labels: chore

#486 Include the sender's name within alert mails
  tools/astarte_e2e/lib/astarte_e2e/config.ex
  tools/astarte_e2e/lib/astarte_e2e/config/normalized_mail_address.ex
Labels: enhancement

#488 E2E reduce noise in logs
  tools/astarte_e2e/config/prod.exs
  tools/astarte_e2e/lib/astarte_e2e/client.ex
  tools/astarte_e2e/lib/astarte_e2e/service_notifier.ex
Labels: user experience

#490 E2e improve mail notifications
  tools/astarte_e2e/config/prod.exs
  tools/astarte_e2e/lib/astarte_e2e/service_notifier.ex
  tools/astarte_e2e/lib/astarte_e2e/service_notifier/email.ex
Labels: enhancement

#493 Prepare new 0.11 development cycle
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/pages/administrator/040-manual_kubernetes.md
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/administrator/065-setup_ingress.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/052-using_channels.md
  docker-compose.yml
  tools/astarte_export/mix.exs
  tools/astarte_import/mix.exs
Labels: chore

#492 trigger_engine: correctly handle binaryblob values in triggers
  CHANGELOG.md
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
Labels: app:trigger_engine, bug

#496 Forward port changes from v0.11
  CHANGELOG.md
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
  apps/astarte_trigger_engine/mix.lock
Labels: chore

#497 Update setup-elixir Github action
  .github/workflows/astarte-apps-build-workflow.yaml
  .github/workflows/docs-workflow.yaml
Labels: chore

#498 Forward port changes from v0.11
  .github/workflows/astarte-apps-build-workflow.yaml
  .github/workflows/astarte-end-to-end-test-workflow.yaml
  .github/workflows/docs-workflow.yaml
Labels: chore

#491 Reduce E2E's spamminess
  tools/astarte_e2e/config/dev.exs
  tools/astarte_e2e/config/prod.exs
  tools/astarte_e2e/lib/astarte_e2e/config.ex
  tools/astarte_e2e/lib/astarte_e2e/service_notifier.ex
  tools/astarte_e2e/lib/astarte_e2e/service_notifier/email.ex
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
Labels: enhancement

#502 data_updater_plant: use database_retention_ttl in device aggregates
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
Labels: app:data_updater_plant, bug

#500 Disable flow preview in local dashboard
  compose/astarte-dashboard/config.json
Labels: minor
