Repository astarte-platform/astarte, pull requests merged in 2020-04, with the labels that each got.

#292 appengine_api: convert DateTime values to millisecond epoch
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
Labels: app:appengine_api, bug, database

#290 Update to ScyllaDB 3.3.0
  .github/workflows/astarte-apps-build-workflow.yaml
  docker-compose.yml
  tools/astarte_export/.travis.yml
Labels: chore

#291 Update to RabbitMQ 3.8.x
  .github/workflows/astarte-apps-build-workflow.yaml
  docker-compose.yml
Labels: chore

#293 Update Cassandra to 3.11.6
  .github/workflows/astarte-apps-build-workflow.yaml
Labels: chore

#301 data_updater_plant: always immediately load triggers on success
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
Labels: app:data_updater_plant, bug, user experience

#302 data_updater_plant: fix previous PR (#301)
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
Labels: bug

#299 housekeeping: use explicit keyspace in queries when creating a realm
  CHANGELOG.md
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_housekeeping/test/astarte_housekeeping/queries_test.exs
Labels: app:housekeeping, blocking, bug, critical, database

#303 Prepare 0.11.0
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/mix.lock
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore

#306 Add database_retention_policy/ttl to documentation
  doc/pages/architecture/030-interface.md
  doc/pages/architecture/040-interface_schema.md
Labels: documentation

#42 Add 090-database.md
  doc/pages/architecture/090-database.md
Labels: documentation

#307 090-database.md: add schema changes documentation
  doc/pages/architecture/090-database.md
Labels: documentation

#308 mapping JSON schema: fix database_retention_policy doc
  doc/pages/architecture/030-interface.md
  doc/pages/architecture/040-interface_schema.md
Labels: documentation

#338 actions: Add Swagger API generation
  .github/workflows/docs-workflow.yaml
  doc/swagger-ui-index.html
Labels: documentation

#341 Fix exposed metrics
  apps/astarte_appengine_api/config/config.exs
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/metrics/pipeline_instrumenter.ex
  apps/astarte_housekeeping_api/config/config.exs
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/metrics/pipeline_instrumenter.ex
  apps/astarte_pairing_api/config/config.exs
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/metrics/pipeline_instrumenter.ex
  apps/astarte_realm_management_api/config/config.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/metrics/pipeline_instrumenter.ex
Labels: app:appengine_api, app:housekeeping_api, app:pairing_api, app:realm_management_api, chore

#310 Prepare 0.11.0
  doc/pages/administrator/040-manual_kubernetes.md
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/administrator/065-setup_ingress.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/052-using_channels.md
  docker-compose.yml
Labels: documentation

#342 Prepare v0.11.0
  CHANGELOG.md
Labels: chore

#343 doc: add prerequistes checks to Astarte in 5 minutes
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: documentation

#289 Update documentation including metadata
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  doc/pages/user/050-query_device.md
Labels: documentation

#344 WIP: Cleanup and update all deps
  .tool-versions
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore

#345 README.md: fix broken link
  README.md
Labels: documentation

#347 Make ports configurable for each service
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/endpoint.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/config.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/config.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/endpoint.ex
  apps/astarte_pairing/lib/astarte_pairing/config.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api/config.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/endpoint.ex
  apps/astarte_realm_management/lib/astarte_realm_management/config.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/config.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/endpoint.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/config.ex
Labels: app:appengine_api, app:housekeeping, app:pairing, app:realm_management, app:trigger_engine, chore

#349 Remove enable compression from appengine env vars
  apps/astarte_appengine_api/lib/astarte_appengine_api/config.ex
Labels: app:appengine_api, chore

#348 Http action advanced config
  CHANGELOG.md
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
Labels: app:trigger_engine, enhancement

#356 Prepare next 0.11 dev cycle
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  docker-compose.yml
  tools/astarte_export/mix.exs
  tools/astarte_import/mix.exs
Labels: chore

#350 Wait schema agreement
  CHANGELOG.md
  apps/astarte_housekeeping/lib/astarte_housekeeping/c_system.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/migrator.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management/c_system.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
Labels: app:housekeeping, app:realm_management

#359 rooms_channel_test: add missing watch_cleanup
  apps/astarte_appengine_api/test/astarte_appengine_api_web/channels/rooms_channel_test.exs
Labels: testing

#360 appengine_instrumenter: use Counter.inc with :discarded_events_total
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/metrics/appengine_instrumenter.ex
Labels: app:appengine_api, bug

#358 data_updater_plant: add Data Updater deactivation
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_data_consumer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/server.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/message_tracker.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/message_tracker/server.ex
Labels: app:data_updater_plant, enhancement, performance

#364 Fix minor bug in EventsConsumer
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
Labels: app:trigger_engine, minor

#365 trigger_engine: fix wrong match
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
Labels: app:trigger_engine, minor
