Repository astarte-platform/astarte, pull requests merged in 2020-10, with the labels that each got.

#470 mix.lock: add castore
  apps/astarte_appengine_api/mix.lock
Labels: app:appengine_api, chore

#469 docker-compose: make CFSSL stateless, removing postgresql dependency
  CHANGELOG.md
  compose/cfssl-config/db_config.json
  docker-compose.yml
Labels: enhancement

#467 Add ServerCommands and DeviceEvents standard interfaces
  standard-interfaces/org.astarte-platform.genericcommands.ServerCommands.json
  standard-interfaces/org.astarte-platform.genericevents.DeviceEvents.json
Labels: enhancement, user experience

#471 docker-compose: expose port 8888 on VerneMQ
  docker-compose.yml
Labels: enhancement

#458 Add AstarteE2E to Astarte tools
  tools/astarte_e2e/.dockerignore
  tools/astarte_e2e/.formatter.exs
  tools/astarte_e2e/.gitignore
  tools/astarte_e2e/Dockerfile
  tools/astarte_e2e/README.md
  tools/astarte_e2e/config/config.exs
  tools/astarte_e2e/config/dev.exs
  tools/astarte_e2e/config/prod.exs
  tools/astarte_e2e/lib/astarte_e2e.ex
  tools/astarte_e2e/lib/astarte_e2e/application.ex
  tools/astarte_e2e/lib/astarte_e2e/client.ex
  tools/astarte_e2e/lib/astarte_e2e/config.ex
  tools/astarte_e2e/lib/astarte_e2e/config/astarte_device_id.ex
  tools/astarte_e2e/lib/astarte_e2e/config/positive_integer_or_infinity.ex
  tools/astarte_e2e/lib/astarte_e2e/scheduler.ex
  tools/astarte_e2e/lib/astarte_e2e/utils.ex
  tools/astarte_e2e/lib/astarte_e2e_web/plug/metrics_plug.ex
  tools/astarte_e2e/lib/astarte_e2e_web/router.ex
  tools/astarte_e2e/lib/astarte_e2e_web/telemetry.ex
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
  tools/astarte_e2e/priv/interfaces/org.astarte-platform.e2etest.SimpleDatastream.json
  tools/astarte_e2e/priv/interfaces/org.astarte-platform.e2etest.SimpleProperties.json
  tools/astarte_e2e/test/test_helper.exs
Labels: enhancement

#473 Let astarte_e2e find priv directory
  tools/astarte_e2e/lib/astarte_e2e/config.ex
Labels: bug

#472 astarte_pairing_api: don't use legacy format for hw_id
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
Labels: documentation

#478 Do not require /v1 in pairing and appengine url
  tools/astarte_e2e/lib/astarte_e2e/config.ex
  tools/astarte_e2e/mix.lock
Labels: user experience

#479 Add E2E CI
  .github/workflows/astarte-end-to-end-test-workflow.yaml
  docker-compose.yml
Labels: chore, enhancement
