Repository astarte-platform/astarte, pull requests merged in 2020-03, with the labels that each got.

#267 rooms_channel_test: add stub to test
  apps/astarte_appengine_api/test/astarte_appengine_api_web/channels/rooms_channel_test.exs
Labels: testing

#269 DUP: an unexpected object aggregated value was crashing DUP
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
Labels: bug

#255 Return an object when GETting on object aggregated interfaces
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
Labels: app:appengine_api, minor

#262 Add metadata to device
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device_status.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/groups/queries.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/fallback_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/views/device_status_view.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/views/error_view.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/device_status_by_alias_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/device_status_by_group_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/device_status_controller_test.exs
  apps/astarte_appengine_api/test/support/database_test_helper.exs
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_housekeeping/priv/migrations/realm/0004_add_metadata_to_devices.sql
Labels: app:appengine_api, main feature

#273 CHANGELOG.md: divide 0.11.0-rc.0 entries to Added/Changed
  CHANGELOG.md
Labels: chore

#275 events_consumer: fix crash when receiving an HTTP 500 response
  CHANGELOG.md
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
Labels: bug

#279 Force update of :re2 in all apps that have it as a dependency
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: bug

#278 actions: Fix a number of issues related to caching
  .github/workflows/astarte-apps-build-workflow.yaml
Labels: bug, testing

#280 value_match_operators_test: format file
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/value_match_operators_test.exs
Labels: chore

#282 Update astarte_data_access and remove explicit CQEx/cqerl dep
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.lock
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: chore

#284 Temporarily force re2 to version 1.9.4 in all apps
  apps/astarte_appengine_api/mix.exs
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_housekeeping/mix.exs
  apps/astarte_pairing/mix.exs
  apps/astarte_realm_management/mix.exs
  apps/astarte_trigger_engine/mix.exs
Labels: bug

#286 Lock deps versions
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: app:appengine_api, app:data_updater_plant, app:housekeeping, app:housekeeping_api, app:pairing, app:pairing_api, app:realm_management, app:realm_management_api, app:trigger_engine, chore

#287 tools: lock deps
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore

#285 Prepare 0.11.0-rc.1
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  doc/mix.exs
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
  tools/astarte_export/mix.exs
  tools/astarte_import/mix.exs
Labels: app:appengine_api, app:data_updater_plant, app:housekeeping, app:housekeeping_api, app:pairing, app:pairing_api, app:realm_management, app:realm_management_api, app:trigger_engine, chore
