Repository astarte-platform/astarte, pull requests merged in 2020-01, with the labels that each got.

#186 Prepare next 0.11 dev cycle
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  doc/mix.exs
  docker-compose.yml
  tools/astarte_import/mix.exs
Labels: chore

#183 mix.exs: disable autogenerated API page
  doc/mix.exs
Labels: chore, documentation

#185 Docker Compose fixes for 0.11
  compose/astarte-dashboard/config.json
  generate-compose-files.sh
Labels: minor

#188 Handle interface name to table name
  CHANGELOG.md
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management/test/astarte_realm_management/engine_test.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/interface_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/views/interface_view.ex
  apps/astarte_realm_management_api/mix.lock
Labels: app:realm_management, app:realm_management_api, enhancement, user experience

#190 Add Prometheus instrumenters and exporters
  CHANGELOG.md
  apps/astarte_pairing_api/config/config.exs
  apps/astarte_pairing_api/lib/astarte_pairing_api/application.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/endpoint.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/metrics/phoenix_instrumenter.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/metrics/pipeline_instrumenter.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/metrics/prometheus_exporter.ex
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
Labels: API, app:pairing_api, enhancement

#191 Add Prometheus instrumenters and exporters
  CHANGELOG.md
  apps/astarte_realm_management_api/config/config.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/application.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/endpoint.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/metrics/phoenix_instrumenter.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/metrics/pipeline_instrumenter.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/metrics/prometheus_exporter.ex
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
Labels: API, app:realm_management_api, enhancement

#193 Add Prometheus instrumenters and exporters
  CHANGELOG.md
  apps/astarte_housekeeping_api/config/config.exs
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/application.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/endpoint.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/metrics/phoenix_instrumenter.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/metrics/pipeline_instrumenter.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/metrics/prometheus_exporter.ex
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
Labels: API, app:housekeeping_api, enhancement

#189 030-interface: udpate documentation as concerns interface_name
  doc/pages/architecture/030-interface.md
Labels: documentation, user experience

#95 Add some standard interfaces
  CHANGELOG.md
  standard-interfaces/org.astarte-platform.genericsensors.AvailableSensors.json
  standard-interfaces/org.astarte-platform.genericsensors.SamplingRate.json
  standard-interfaces/org.astarte-platform.genericsensors.Values.json
Labels: enhancement, user experience

#187 Fix any_interface triggers
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater_test.exs
  apps/astarte_data_updater_plant/test/support/database_test_helper.exs
Labels: app:data_updater_plant, app:realm_management_api, bug, enhancement

#203 Fix database retention realm migration
  CHANGELOG.md
  apps/astarte_housekeeping/priv/migrations/realm/0003_add_database_retention_ttl_and_policy.sql
Labels: app:housekeeping, blocking, database

#206 appengine: update astarte_core, fixing events with empty bson value
  CHANGELOG.md
  apps/astarte_appengine_api/mix.lock
Labels: app:appengine_api, bug

#197 Fix pretty log
  CHANGELOG.md
  apps/astarte_appengine_api/config/astarte_appengine_api.schema.exs
  apps/astarte_appengine_api/config/prod.exs
  apps/astarte_appengine_api/lib/astarte_appengine_api/application.ex
  apps/astarte_data_updater_plant/config/prod.exs
  apps/astarte_housekeeping_api/config/astarte_housekeeping_api.schema.exs
  apps/astarte_housekeeping_api/config/dev.exs
  apps/astarte_housekeeping_api/config/prod.exs
  apps/astarte_housekeeping_api/config/test.exs
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/application.ex
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/config/dev.exs
  apps/astarte_pairing/config/prod.exs
  apps/astarte_pairing/config/test.exs
  apps/astarte_pairing/lib/astarte_pairing.ex
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/config/astarte_pairing_api.schema.exs
  apps/astarte_pairing_api/config/prod.exs
  apps/astarte_pairing_api/lib/astarte_pairing_api/application.ex
  apps/astarte_realm_management/config/prod.exs
  apps/astarte_realm_management_api/config/astarte_realm_management_api.schema.exs
  apps/astarte_realm_management_api/config/prod.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/application.ex
  apps/astarte_trigger_engine/config/dev.exs
  apps/astarte_trigger_engine/config/prod.exs
  apps/astarte_trigger_engine/config/test.exs
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/application.ex
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: chore, enhancement

#210 Prepare 0.11.0-beta.2
  CHANGELOG.md
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/CHANGELOG.md
  apps/astarte_trigger_engine/mix.lock
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
  tools/astarte_import/mix.lock
Labels: chore

#205 Rework README.md
  README.md
Labels: documentation

#216 Prepare next 0.11 dev cycle
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  doc/mix.exs
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
  tools/astarte_import/mix.exs
Labels: chore

#211 pairing: expose registration count metrics
  CHANGELOG.md
  apps/astarte_pairing/lib/astarte_pairing/engine.ex
  apps/astarte_pairing/lib/astarte_pairing_web/metrics.ex
  apps/astarte_pairing/lib/astarte_pairing_web/metrics/pairing_instrumenter.ex
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
Labels: app:pairing, enhancement

#215 Add health to Pairing API
  CHANGELOG.md
  apps/astarte_pairing/lib/astarte_pairing.ex
  apps/astarte_pairing/lib/astarte_pairing/config.ex
  apps/astarte_pairing/lib/astarte_pairing/engine.ex
  apps/astarte_pairing/lib/astarte_pairing/queries.ex
  apps/astarte_pairing/lib/astarte_pairing/rpc/handler.ex
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/lib/astarte_pairing_api/health/backend_health.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api/health/health.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api/rpc/pairing.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/controllers/health_controller.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/router.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/views/health_view.ex
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
Labels: app:pairing, app:pairing_api, enhancement

#218 Add health endpoint to Realm Management API
  CHANGELOG.md
  apps/astarte_realm_management/lib/astarte_realm_management.ex
  apps/astarte_realm_management/lib/astarte_realm_management/config.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/health/backend_health.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/health/health.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/health_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/router.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/views/health_view.ex
  apps/astarte_realm_management_api/mix.lock
Labels: app:realm_management_api, enhancement

#226 Add health endpoint Trigger Engine
  CHANGELOG.md
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/application.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/config.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/health/health.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/health/queries.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine_web/router.ex
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: app:trigger_engine, enhancement

#225 Add health endpoint to Housekeeping
  CHANGELOG.md
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/router.ex
Labels: app:housekeeping, enhancement

#224 Add health endpoint to Realm Management
  CHANGELOG.md
  apps/astarte_realm_management/lib/astarte_realm_management_web/router.ex
Labels: app:realm_management, enhancement

#222 Add health endpoint Pairing
  CHANGELOG.md
  apps/astarte_pairing/lib/astarte_pairing_web/router.ex
Labels: app:pairing, enhancement

#221 Add health endpoint to Data Updater Plant
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/application.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/health/health.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/health/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant_web/router.ex
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
Labels: app:data_updater_plant, enhancement

#227 Release 0.11 pulls libraries from their 0.11 branch
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
Labels: chore

#229 Update services' port number
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant_web/metrics/supervisor.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/metrics/supervisor.ex
  apps/astarte_pairing/lib/astarte_pairing_web/metrics/supervisor.ex
  apps/astarte_realm_management/lib/astarte_realm_management_web/metrics/supervisor.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine_web/metrics/supervisor.ex
  docker-compose.yml
Labels: chore

#228 apps/*/mix.exs: Pull pretty_log from hex.pm
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: app:data_updater_plant, app:housekeeping, app:housekeeping_api, app:pairing, app:trigger_engine, chore
