Repository astarte-platform/astarte, pull requests merged in 2020-05, with the labels that each got.

#366 appengine_api: prevent crashes when updating metadata or aliases
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/fallback_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/views/error_view.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
Labels: app:appengine_api, minor

#352 Support SSL for RabbitMQ connections
  apps/astarte_appengine_api/lib/astarte_appengine_api/config.ex
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/test/astarte_appengine_api/rooms_amqp_options_test.exs
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/amqp_options_test.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/config.ex
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  apps/astarte_trigger_engine/test/amqp_consumer_options_test.exs
Labels: app:appengine_api, app:data_updater_plant, app:trigger_engine, enhancement

#295 This example is a simple sensor viewer implemented in Javascript
  examples/javascript-sensors-viewer/astarte.js
  examples/javascript-sensors-viewer/index.html
Labels: documentation

#370 realm_management: fix dependency from astarte_rpc
  apps/astarte_realm_management/mix.lock
Labels: app:realm_management, bug

#372 data_updater: check if path and interface are valid UTF-8 strings
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
Labels: app:data_updater_plant, bug

#373 030-interface: update documentation to reflect actual data type limits
  doc/pages/architecture/030-interface.md
Labels: documentation

#377 data_updater: serialize MessageTracker and DataUpdater.Server starts
  CHANGELOG.md
  apps/astarte_data_updater_plant/config/astarte_data_updater_plant.schema.exs
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_data_consumer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_data_consumer/supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/consumers_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater.ex
Labels: app:data_updater_plant, bug

#247 Added React example for Astarte Channel.
  examples/sensor-channels/package-lock.json
  examples/sensor-channels/package.json
  examples/sensor-channels/public/index.html
  examples/sensor-channels/src/apiHandler.js
  examples/sensor-channels/src/assets/css/cast.css
  examples/sensor-channels/src/components/CredentialsModal.jsx
  examples/sensor-channels/src/components/SensorData.jsx
  examples/sensor-channels/src/components/SensorDataHandler.jsx
  examples/sensor-channels/src/components/SensorDisplay.jsx
  examples/sensor-channels/src/index.js
Labels: documentation

#376 compose: remove /v1 prefix from dashboard configuration
  compose/astarte-dashboard/config.json
Labels: minor, user experience

#379 Forward port PR 377 to master
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_data_consumer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_data_consumer/supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/consumers_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater.ex
Labels: chore

#382 Prepare 0.11.1 release
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/pages/administrator/040-manual_kubernetes.md
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/administrator/065-setup_ingress.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/052-using_channels.md
  docker-compose.yml
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore

#384 Default max certificate chain length to 10
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/config.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/config.ex
Labels: user experience

#266 Add ReactJS sensor sampling Rate example
  examples/sensor-samplingrate/package-lock.json
  examples/sensor-samplingrate/package.json
  examples/sensor-samplingrate/public/index.html
  examples/sensor-samplingrate/src/apiHandler.js
  examples/sensor-samplingrate/src/assets/css/cast.css
  examples/sensor-samplingrate/src/components/CredentialsModal.jsx
  examples/sensor-samplingrate/src/components/SensorItem.jsx
  examples/sensor-samplingrate/src/components/SensorSamplingUpdate.jsx
  examples/sensor-samplingrate/src/components/SensorViewer.jsx
  examples/sensor-samplingrate/src/index.js
Labels: documentation

#363 Implement AMQP 0-9-1 trigger action and improve http action validation
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_events_producer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/amqp_action.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/http_action.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/trigger.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/triggers.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/amqp_action_test.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/http_action_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/trigger_test.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/triggers_test.exs
  doc/pages/architecture/060-triggers.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/060-using_triggers.md
Labels: enhancement

#388 doc: fix typos in 060-triggers.md
  doc/pages/architecture/060-triggers.md
Labels: documentation

#389 astarte_pairing_api: document initial_introspection payload
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
Labels: documentation

#386 Handle publish reply and ensure publishes towards the device
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/data_transmitter.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/rpc/vmq_plugin.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/fallback_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/views/error_view.ex
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
  apps/astarte_appengine_api/test/support/database_test_helper.exs
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/rpc/vmq_plugin.ex
  apps/astarte_data_updater_plant/mix.lock
Labels: API, app:appengine_api, app:data_updater_plant, enhancement, user experience
