Repository astarte-platform/astarte, pull requests merged in 2020-02, with the labels that each got.

#230 Export DataUpdaterPlant specific metrics with telemetry
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/message_tracker/server.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant_web/metrics.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant_web/metrics/data_updater_plant_instrumenter.ex
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
Labels: app:data_updater_plant, enhancement

#236 Export TriggerEngine specific metric with telemetry
  CHANGELOG.md
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine_web/metrics.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine_web/metrics/trigger_engine_instrumenter.ex
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: app:trigger_engine, enhancement

#237 Export AppEngine specific metric with telemetry
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/application.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/data_transmitter.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/rooms/events_dispatcher.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/rooms/room.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/metrics/appengine_instrumenter.ex
  apps/astarte_appengine_api/mix.exs
Labels: app:appengine_api, enhancement

#243 Make elixir logger handle OTP reports
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/application.ex
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/config/config.exs
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/application.ex
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/config/config.exs
  apps/astarte_housekeeping/lib/astarte_housekeeping.ex
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/config/config.exs
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/application.ex
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/config/config.exs
  apps/astarte_pairing/lib/astarte_pairing.ex
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/config/config.exs
  apps/astarte_pairing_api/lib/astarte_pairing_api/application.ex
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/config/config.exs
  apps/astarte_realm_management/lib/astarte_realm_management.ex
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/config/config.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/application.ex
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/config/config.exs
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/application.ex
  apps/astarte_trigger_engine/mix.lock
Labels: chore, minor

#204 Implement sensor example
  .gitignore
  examples/sensors-viewer/package-lock.json
  examples/sensors-viewer/package.json
  examples/sensors-viewer/public/favicon.ico
  examples/sensors-viewer/public/index.html
  examples/sensors-viewer/src/Images.js
  examples/sensors-viewer/src/apiHandler.js
  examples/sensors-viewer/src/assets/css/cast.css
  examples/sensors-viewer/src/assets/img/down-arrow.png
  examples/sensors-viewer/src/components/CredentialsModal.jsx
  examples/sensors-viewer/src/components/SensorItem.jsx
  examples/sensors-viewer/src/components/SensorViewer.jsx
  examples/sensors-viewer/src/index.js
Labels: documentation

#244 doc: use org.astarte-platform.genericsensors.Values
  doc/pages/architecture/060-triggers.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/052-using_channels.md
  doc/pages/user/060-using_triggers.md
Labels: documentation

#241 Add server to device object aggregated interfaces
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/data_transmitter.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/fallback_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/interface_values_by_device_alias_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/interface_values_by_group_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/interface_values_controller.ex
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
  apps/astarte_appengine_api/test/support/database_test_helper.exs
Labels: app:appengine_api, enhancement, main feature

#246 standard-interfaces: add missing explicit_timestamp
  standard-interfaces/org.astarte-platform.genericsensors.Values.json
Labels: minor

#245 Fix regression on individual datastreams
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
  apps/astarte_appengine_api/test/support/database_test_helper.exs
Labels: app:appengine_api, bug

#248 Handle TTL for server owned interfaces
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
  apps/astarte_appengine_api/test/support/database_test_helper.exs
Labels: app:appengine_api, database, minor

#252 Queries: fix: add missing database_retention_policy/ttl
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
Labels: blocking, minor

#253 Update astarte_core
  CHANGELOG.md
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/mix.lock
Labels: chore

#254 Remove deprecated not versioned socket route
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/endpoint.ex
Labels: API, app:appengine_api

#256 proto3 doesn't support defaults, avoid them.
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/rpc/handler.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/rpc/handler.ex
  apps/astarte_pairing/lib/astarte_pairing/rpc/handler.ex
Labels: chore

#258 workflows: disable fail-fast
  .github/workflows/astarte-apps-build-workflow.yaml
  .github/workflows/pr-container-build-workflow.yaml
Labels: testing

#238 Implement astarte_export tool
  tools/astarte_export/.formatter.exs
  tools/astarte_export/.travis.yml
  tools/astarte_export/Dockerfile
  tools/astarte_export/README.md
  tools/astarte_export/config/.gitkeep
  tools/astarte_export/config/config.exs
  tools/astarte_export/config/rel/.gitkeep
  tools/astarte_export/lib/.gitkeep
  tools/astarte_export/lib/astarte/export.ex
  tools/astarte_export/lib/astarte/fetchdata/.gitkeep
  tools/astarte_export/lib/astarte/fetchdata/fetchdata.ex
  tools/astarte_export/lib/astarte/fetchdata/queries/queries.ex
  tools/astarte_export/lib/astarte/xml_generate.ex
  tools/astarte_export/lib/mix/tasks/.astarte_export.ex.swp
  tools/astarte_export/lib/mix/tasks/astarte_export.ex
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_export/rel/.gitkeep
  tools/astarte_export/rel/commands/.gitkeep
  tools/astarte_export/rel/commands/export
  tools/astarte_export/rel/config.exs
  tools/astarte_export/rel/config/.gitkeep
  tools/astarte_export/rel/config/config.exs
  tools/astarte_export/rel/plugins/.gitkeep
  tools/astarte_export/rel/vm.args
  tools/astarte_export/test/.gitkeep
  tools/astarte_export/test/astarte_export_db_test.exs
  tools/astarte_export/test/astarte_export_test.exs
  tools/astarte_export/test/database_test.exs
  tools/astarte_export/test/test_helper.exs
Labels: main feature

#257 Update astarte rpc
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/lib/astarte_housekeeping/rpc/handler.ex
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping/test/astarte_housekeeping/rpc/amqp_server_test.exs
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/rpc/housekeeping.ex
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing/test/astarte_pairing/rpc/handler_test.exs
  apps/astarte_pairing_api/lib/astarte_pairing_api/credentials/credentials.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api/utils.ex
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management/test/astarte_realm_management/rpc/handler_test.exs
  apps/astarte_realm_management_api/mix.lock
Labels: app:appengine_api, app:data_updater_plant, app:housekeeping, app:housekeeping_api, app:pairing, app:pairing_api, app:realm_management, app:realm_management_api, chore

#260 Add .dockerignore to all apps
  apps/astarte_appengine_api/.dockerignore
  apps/astarte_data_updater_plant/.dockerignore
  apps/astarte_housekeeping/.dockerignore
  apps/astarte_housekeeping_api/.dockerignore
  apps/astarte_pairing/.dockerignore
  apps/astarte_pairing_api/.dockerignore
  apps/astarte_realm_management/.dockerignore
  apps/astarte_realm_management_api/.dockerignore
  apps/astarte_trigger_engine/.dockerignore
Labels: chore

#261 Prepare 0.11.0 rc.0
  .tool-versions
  CHANGELOG.md
  README.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore
