Repository astarte-platform/astarte, pull requests merged in 2020-06, with the labels that each got.

#396 Volatile group triggers documentation
  doc/pages/user/052-using_channels.md
Labels: app:appengine_api, documentation

#403 doc/swagger-ui-index.html: use v0.11 AppEngine API swagger
  doc/swagger-ui-index.html
Labels: documentation, minor

#405 doc/swagger-ui-index.html: use snapshot API instead of 0.11 one.
  doc/swagger-ui-index.html
Labels: chore, documentation

#406 trigger_engine: add amqp_prefetch_count on 1.0 too
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/amqp_events_consumer.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/config.ex
Labels: app:trigger_engine, minor

#402 Add support for group and device specific triggers
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/state.ex
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater_test.exs
  apps/astarte_data_updater_plant/test/support/database_test_helper.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  doc/pages/architecture/060-triggers.md
  doc/pages/user/060-using_triggers.md
Labels: API, app:data_updater_plant, app:realm_management, app:realm_management_api, enhancement, main feature, user experience

#408 data_updater: discard emptyCache if data can't be pushed to the device
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
Labels: app:data_updater_plant, bug

#409 Update OTP and Elixir
  .github/workflows/astarte-apps-build-workflow.yaml
  .github/workflows/docs-workflow.yaml
  .tool-versions
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/mix.lock
  doc/mix.lock
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.lock
Labels: chore, dependencies

#410 Use Ispirata OTP23 + Elixir 1.10.3 docker image
  apps/astarte_appengine_api/Dockerfile
  apps/astarte_data_updater_plant/Dockerfile
  apps/astarte_housekeeping/Dockerfile
  apps/astarte_housekeeping_api/Dockerfile
  apps/astarte_pairing/Dockerfile
  apps/astarte_pairing_api/Dockerfile
  apps/astarte_realm_management/Dockerfile
  apps/astarte_realm_management_api/Dockerfile
  apps/astarte_trigger_engine/Dockerfile
  tools/astarte_export/Dockerfile
  tools/astarte_import/Dockerfile
Labels: chore

#411 mix.lock: remove pooler dependency
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_trigger_engine/mix.lock
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.lock
Labels: chore, dependencies

#414 Add observer_cli to all Astarte services
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: enhancement

#412 Add device error triggers
  CHANGELOG.md
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/triggers_handler_test.exs
  apps/astarte_trigger_engine/mix.lock
  doc/pages/architecture/060-triggers.md
  doc/pages/user/045-device_errors.md
  doc/pages/user/052-using_channels.md
Labels: app:appengine_api, app:data_updater_plant, app:trigger_engine, enhancement, main feature, user experience

#415 Switch to ScyllaDB 4.1-rc.2
  .github/workflows/astarte-apps-build-workflow.yaml
  docker-compose.yml
Labels: chore

#378 Update dashboard config
  compose/astarte-dashboard/config.json
Labels: minor

#417 Run docs workflow also on branch creation
  .github/workflows/docs-workflow.yaml
Labels: chore, documentation

#416 Prepare 1.0.0 alpha.1
  CHANGELOG.md
  README.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/administrator/065-setup_ingress.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/010-interacting_with_astarte.md
  doc/pages/user/040-connect_device.md
  doc/swagger-ui-index.html
  docker-compose.yml
  standard-interfaces/org.astarte-platform.genericsensors.AvailableSensors.json
  standard-interfaces/org.astarte-platform.genericsensors.SamplingRate.json
  standard-interfaces/org.astarte-platform.genericsensors.Values.json
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
Labels: chore

#419 astarte_appengine_api: bring check_origin back to false
  CHANGELOG.md
  apps/astarte_appengine_api/config/config.exs
Labels: app:appengine_api, bug

#422 090-database.md: document new metadata column
  doc/pages/architecture/090-database.md
Labels: database, documentation

#423 Rename http_(custom)_headers to http_static_headers
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/http_action.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/http_action_test.exs
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
  doc/pages/architecture/060-triggers.md
Labels: enhancement

#429 appengine: fix extract_aggregate_reliability pattern match
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
Labels: API, app:appengine_api, bug
