Repository astarte-platform/astarte, pull requests merged in 2020-08, with the labels that each got.

#454 Avoid failed check status on GitHub PR due to codecov bogus coverage
  codecov.yaml
Labels: chore

#453 Forward port changes from v0.11
  CHANGELOG.md
  apps/astarte_appengine_api/config/config.exs
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
  codecov.yaml
  doc/pages/architecture/060-triggers.md
Labels: chore

#451 Add custom AMQP triggers support to Data Updater Plant
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_events_producer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_pipeline_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
Labels: app:data_updater_plant, enhancement

#452 Handle device disconnection
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
Labels: app:data_updater_plant, user experience

#457 Prepare v0.11.2
  .github/workflows/astarte-apps-build-workflow.yaml
  .github/workflows/docs-workflow.yaml
  .tool-versions
  CHANGELOG.md
  apps/astarte_appengine_api/Dockerfile
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/Dockerfile
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/Dockerfile
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/Dockerfile
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/Dockerfile
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/Dockerfile
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/Dockerfile
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/Dockerfile
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/Dockerfile
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/pages/administrator/040-manual_kubernetes.md
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/administrator/065-setup_ingress.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/052-using_channels.md
  docker-compose.yml
  tools/astarte_export/.travis.yml
  tools/astarte_export/Dockerfile
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore
