Repository astarte-platform/astarte, pull requests merged in 2020-09, with the labels that each got.

#461 data_updater_plant: fix queue block during ask_clean_session
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/rpc/vmq_plugin.ex
Labels: app:data_updater_plant, bug

#462 Bump version number to 0.11.3
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/mix.lock
  doc/pages/administrator/040-manual_kubernetes.md
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/administrator/065-setup_ingress.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/052-using_channels.md
  docker-compose.yml
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore

#464 docker-compose: avoid accidentally creating housekeeping_public.pem
  CHANGELOG.md
  docker-compose.yml
Labels: user experience

#465 Prepare 1.0-beta.1 dev cycle
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  docker-compose.yml
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore
