Repository astarte-platform/astarte, pull requests merged in 2021-01, with the labels that each got.

#514 Update javascript dependencies in Astarte examples
  examples/sensor-graph/package-lock.json
  examples/sensor-graph/package.json
  examples/sensors-viewer/package-lock.json
  examples/sensors-viewer/package.json
Labels: chore, dependencies

#515 Update javascript dependencies in Astarte examples
  examples/sensor-channels/package-lock.json
  examples/sensor-channels/package.json
  examples/sensor-samplingrate/package-lock.json
  examples/sensor-samplingrate/package.json
Labels: chore, dependencies

#508 docs: Add needed steps to install cert-manager
  doc/pages/administrator/010-system_requirements.md
  doc/pages/administrator/020-prerequisites.md
Labels: documentation

#520 RM: Disallow `/*` match path when using value_change* trigger
  CHANGELOG.md
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
Labels: app:realm_management, minor

#521 TE: update certifi to 2.5.3
  CHANGELOG.md
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: app:trigger_engine, chore

#522 Prepare v0.11.4
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/mix.lock
  doc/pages/administrator/040-manual_kubernetes.md
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/administrator/065-setup_ingress.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/010-interacting_with_astarte.md
  doc/pages/user/052-using_channels.md
  doc/swagger-ui-index.html
  docker-compose.yml
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore

#526 Tell users that 0.10 has been discontinued
  README.md
  doc/pages/administrator/001-intro_administrator.md
  doc/pages/architecture/001-intro_architecture.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/001-intro_user.md
Labels: documentation

#527 README.md: add missing -b 0.11.4
  README.md
Labels: documentation

#525 Add unstable branch disclaimer.
  README.md
  doc/pages/administrator/001-intro_administrator.md
  doc/pages/architecture/001-intro_architecture.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/001-intro_user.md
Labels: documentation, user experience

#528 README.md: add missing -b release-1.0
  README.md
Labels: chore, documentation
