Repository astarte-platform/astarte, pull requests merged in 2021-06, with the labels that each got.

#594 020-upgrade_011_10: make clear we need `gawk`
  doc/pages/upgrade/020-upgrade_011_10.md
Labels: bug, documentation

#596 Add missing title to CHANGELOG.md file
  CHANGELOG.md
Labels: chore

#598 appengine: fix null values support in interfaces
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/astarte_value.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/astarte_value_test.exs
Labels: app:appengine_api, blocking, bug

#601 Print app version when starting
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/application.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/application.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/application.ex
  apps/astarte_pairing/lib/astarte_pairing.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api/application.ex
  apps/astarte_realm_management/lib/astarte_realm_management.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/application.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/application.ex
Labels: enhancement

#602 compose: Always pull CFSSL 1.4.1-astarte.0 for 0.11
  docker-compose.yml
Labels: chore

#603 Minor fixes to Astarte in 5 Minutes
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: chore

#604 Prepare 1.0.0
  .github/workflows/astarte-apps-build-workflow.yaml
  CHANGELOG.md
  README.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/pages/administrator/040-manual_kubernetes.md
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/administrator/065-setup_ingress.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/upgrade/020-upgrade_011_10.md
  doc/pages/user/010-interacting_with_astarte.md
  docker-compose.yml
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore
