Repository astarte-platform/astarte, pull requests merged in 2021-03, with the labels that each got.

#540 Add Astarte Dashboard's documentation
  doc/images/astarte-dashboard-devices.png
  doc/images/astarte-dashboard-interface-editor.png
  doc/images/astarte-dashboard-interfaces.png
  doc/images/astarte-dashboard-realm-overview.png
  doc/images/astarte-dashboard-trigger-editor.png
  doc/images/astarte-dashboard-triggers.png
  doc/pages/architecture/020-components.md
  doc/pages/user/010-interacting_with_astarte.md
  doc/pages/user/015-astarte_dashboard.md
Labels: documentation

#542 Astarte_E2E: fix "unknown" failure
  CHANGELOG.md
  tools/astarte_e2e/lib/astarte_e2e/service_notifier.ex
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
Labels: blocking, bug

#533 Add javascript examples documentation
  examples/README.md
  examples/images/javascript-sensors-viewer-stream-test.png
  examples/images/sensor-graph.png
  examples/images/sensors-viewer-stream-test.png
  examples/javascript-sensors-viewer/README.md
  examples/javascript-sensors-viewer/astarte.js
  examples/javascript-sensors-viewer/index.html
  examples/sensor-graph/.prettierrc
  examples/sensor-graph/README.md
  examples/sensor-graph/package-lock.json
  examples/sensor-graph/package.json
  examples/sensor-graph/src/apiHandler.js
  examples/sensor-graph/src/assets/css/cast.css
  examples/sensor-graph/src/components/CredentialsModal.jsx
  examples/sensor-graph/src/components/GraphComponent.jsx
  examples/sensor-graph/src/components/SensorPlotGraph.jsx
  examples/sensors-viewer/.prettierrc
  examples/sensors-viewer/README.md
  examples/sensors-viewer/package-lock.json
  examples/sensors-viewer/package.json
  examples/sensors-viewer/src/Images.js
  examples/sensors-viewer/src/apiHandler.js
  examples/sensors-viewer/src/components/CredentialsModal.jsx
  examples/sensors-viewer/src/components/SensorItem.jsx
  examples/sensors-viewer/src/components/SensorViewer.jsx
Labels: documentation

#537 Fix command in 'Astarte in 5 minutes' to generate JWT for Dashboard
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: documentation

#549 device: don't discard opts when retrieving object aggregations
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
Labels: API, app:appengine_api, blocking, bug

#548 Add requirements for scylla db docker image
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: documentation

#551 appengine: encode binaryblob values with Base64 even in aggregates
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/mix.lock
  apps/astarte_trigger_engine/mix.lock
Labels: API, app:appengine_api, app:trigger_engine, bug

#556 docs: add 095-known_issues.md page
  doc/pages/user/090-troubleshooting.md
  doc/pages/user/095-known_issues.md
Labels: documentation

#555 Rename device metadata to attributes
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device_status.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/groups/queries.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/fallback_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/views/device_status_view.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/views/error_view.ex
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/device_status_by_alias_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/device_status_by_group_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/device_status_controller_test.exs
  apps/astarte_appengine_api/test/support/database_test_helper.exs
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_housekeeping/priv/migrations/realm/0004_add_attributes_to_devices.sql
  apps/astarte_housekeeping/priv/migrations/realm/0004_add_metadata_to_devices.sql
  doc/pages/architecture/090-database.md
  doc/pages/user/015-astarte_dashboard.md
  doc/pages/user/050-query_device.md
Labels: API, app:appengine_api, app:housekeeping, database, user experience

#557 Update docs to warn about dangling CFSSL pv after upgrading to 1.0
  doc/pages/upgrade/020-upgrade_011_10.md
Labels: blocking, documentation

#558 Prepare 1.0.0 beta.2
  .github/workflows/astarte-apps-build-workflow.yaml
  .github/workflows/astarte-end-to-end-test-workflow.yaml
  .github/workflows/docs-workflow.yaml
  .tool-versions
  CHANGELOG.md
  apps/astarte_appengine_api/Dockerfile
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/Dockerfile
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/Dockerfile
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/Dockerfile
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/Dockerfile
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/Dockerfile
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/Dockerfile
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/Dockerfile
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/Dockerfile
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
  tools/astarte_e2e/Dockerfile
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
  tools/astarte_export/Dockerfile
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/Dockerfile
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore

#561 Docs: fix astartectl command to create a realm
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: documentation

#562 Docs: fix Astarte in 5 minutes typo for Trigger example
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: documentation

#563 Improve documentation
  doc/pages/administrator/010-system_requirements.md
  doc/pages/administrator/030-installation_kubernetes.md
Labels: documentation
