Repository astarte-platform/astarte, pull requests merged in 2021-10, with the labels that each got.

#615 Document how to update CRDs when upgrading Astarte Operator
  doc/pages/upgrade/030-upgrade_10.md
Labels: documentation

#616 Upgrade `remote_ip` to 1.0 in Astarte Pairing API
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
Labels: minor, app:pairing_api

#624 Forward port changes from 1.0
  .github/workflows/docs-workflow.yaml
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device_status.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/interface_values_options.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/fallback_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/views/error_view.ex
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  doc/pages/upgrade/030-upgrade_10.md
Labels: chore
