Repository astarte-platform/astarte, pull requests merged in 2021-02, with the labels that each got.

#529 doc: add link to Astarte Flow documentation
  doc/pages/architecture/060-triggers.md
Labels: documentation

#519 Document upgrade procedure
  doc/mix.exs
  doc/pages/administrator/030-installation_kubernetes.md
  doc/pages/administrator/040-manual_kubernetes.md
  doc/pages/upgrade/000-upgrade_index.md
  doc/pages/upgrade/010-upgrade_010_011.md
  doc/pages/upgrade/020-upgrade_011_10.md
  doc/pages/upgrade/030-upgrade_10.md
Labels: blocking, documentation

#532 Prepare 1.0.0-beta.1
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore

#538 Fix broken links in documentation
  doc/pages/architecture/070-auth.md
  doc/pages/user/040-connect_device.md
Labels: documentation

#539 Improve doc for Astarte upgrades
  doc/pages/upgrade/020-upgrade_011_10.md
  doc/pages/upgrade/030-upgrade_10.md
Labels: documentation

#535 Update Astarte in 5 minutes doc page
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: documentation

#543 Update deps
  .github/workflows/astarte-apps-build-workflow.yaml
  .github/workflows/astarte-end-to-end-test-workflow.yaml
  .github/workflows/docs-workflow.yaml
  .tool-versions
  CHANGELOG.md
  apps/astarte_appengine_api/Dockerfile
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/Dockerfile
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/Dockerfile
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/Dockerfile
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/Dockerfile
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/Dockerfile
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/Dockerfile
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/Dockerfile
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/Dockerfile
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  tools/astarte_e2e/Dockerfile
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
  tools/astarte_export/Dockerfile
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/Dockerfile
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore
