Repository astarte-platform/astarte, pull requests merged in 2021-05, with the labels that each got.

#579 Update documentation
  CHANGELOG.md
  doc/images/astarte_ssl_pairing_routine.svg
  doc/mix.exs
  doc/mix.lock
  doc/pages/administrator/030-installation_kubernetes.md
  doc/pages/administrator/095-advanced-operations.md
  doc/pages/architecture/040-interface_schema.md
  doc/pages/user/030-manage_interfaces.md
Labels: blocking, documentation

#580 Prepare 1.0.0 rc.0
  .github/workflows/astarte-apps-build-workflow.yaml
  .github/workflows/astarte-end-to-end-test-workflow.yaml
  .github/workflows/docs-workflow.yaml
  .github/workflows/pr-container-build-workflow.yaml
  CHANGELOG.md
  README.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/pages/administrator/040-manual_kubernetes.md
  doc/pages/administrator/060-setup_cluster.md
  doc/pages/administrator/065-setup_ingress.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/upgrade/020-upgrade_011_10.md
  doc/pages/user/010-interacting_with_astarte.md
  docker-compose.yml
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
  tools/astarte_export/mix.exs
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.exs
  tools/astarte_import/mix.lock
Labels: chore

#585 Fix CI: use erlef/setup-beam 1.7.0 instead of actions/setup-elixir 1.5.0
  .github/workflows/astarte-apps-build-workflow.yaml
  .github/workflows/docs-workflow.yaml
  .github/workflows/pr-container-build-workflow.yaml
Labels: chore

#590 Document future removal of Cassandra support from Operator
  CHANGELOG.md
  doc/pages/administrator/020-prerequisites.md
Labels: documentation

#589 advanced-operations: fix command to backup devices ca
  doc/pages/administrator/095-advanced-operations.md
Labels: documentation

#534 Add documentation for channels and sampling rate examples
  examples/README.md
  examples/images/sensor-channels.png
  examples/images/sensor-samplingrate.png
  examples/sensor-channels/.prettierrc
  examples/sensor-channels/README.md
  examples/sensor-channels/package-lock.json
  examples/sensor-channels/package.json
  examples/sensor-channels/src/apiHandler.js
  examples/sensor-channels/src/components/CredentialsModal.jsx
  examples/sensor-channels/src/components/SensorData.jsx
  examples/sensor-channels/src/components/SensorDataHandler.jsx
  examples/sensor-channels/src/components/SensorDisplay.jsx
  examples/sensor-samplingrate/.prettierrc
  examples/sensor-samplingrate/README.md
  examples/sensor-samplingrate/package-lock.json
  examples/sensor-samplingrate/package.json
  examples/sensor-samplingrate/src/apiHandler.js
  examples/sensor-samplingrate/src/assets/css/cast.css
  examples/sensor-samplingrate/src/components/CredentialsModal.jsx
  examples/sensor-samplingrate/src/components/SensorItem.jsx
  examples/sensor-samplingrate/src/components/SensorSamplingUpdate.jsx
  examples/sensor-samplingrate/src/components/SensorViewer.jsx
Labels: documentation

#588 Remove old upgrade guide from docs
  doc/pages/administrator/080-upgrade_guide.md
Labels: documentation

#584 RM: Queries: fix all interfaces with same name deletion bug
  CHANGELOG.md
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
Labels: app:realm_management, blocking, critical

#587 Backport changes to docs for grafana
  doc/images/astarte-grafana-add-datasource.png
  doc/images/astarte-grafana-dashboard-overview.png
  doc/images/astarte-grafana-datasource-fields.png
  doc/images/astarte-grafana-device-query.png
  doc/pages/user/010-interacting_with_astarte.md
  doc/pages/user/080-grafana_datasource.md
Labels: documentation

#536 Add Sensor Geolocation example
  examples/README.md
  examples/images/sensor-geolocation.png
  examples/sensor-geolocation/.gitignore
  examples/sensor-geolocation/.prettierrc
  examples/sensor-geolocation/README.md
  examples/sensor-geolocation/package-lock.json
  examples/sensor-geolocation/package.json
  examples/sensor-geolocation/public/favicon.ico
  examples/sensor-geolocation/public/index.html
  examples/sensor-geolocation/public/manifest.json
  examples/sensor-geolocation/public/robots.txt
  examples/sensor-geolocation/src/App.js
  examples/sensor-geolocation/src/apiHandler.js
  examples/sensor-geolocation/src/components/CredentialsModal.jsx
  examples/sensor-geolocation/src/components/Map.jsx
  examples/sensor-geolocation/src/components/SensorLocationList.jsx
  examples/sensor-geolocation/src/index.css
  examples/sensor-geolocation/src/index.js
  standard-interfaces/org.astarte-platform.genericsensors.Geolocation.json
Labels: documentation
