Repository astarte-platform/astarte, pull requests merged in 2021-04, with the labels that each got.

#566 Add Astarte Datasource Plugin for Grafana doc pages
  doc/images/astarte-grafana-add-datasource.png
  doc/images/astarte-grafana-dashboard-overview.png
  doc/images/astarte-grafana-datasource-fields.png
  doc/images/astarte-grafana-device-query.png
  doc/pages/user/010-interacting_with_astarte.md
  doc/pages/user/080-grafana_datasource.md
Labels: documentation

#565 090-database: invert manual migration steps for attributes column
  doc/pages/architecture/090-database.md
Labels: documentation

#567 amqp_action: make amqp_routing_key mandatory
  CHANGELOG.md
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/amqp_action.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/amqp_action_test.ex
  doc/pages/architecture/060-triggers.md
Labels: app:trigger_engine, blocking

#570 Add note on /socket endpoint deprecation for Astarte Channels
  doc/pages/upgrade/020-upgrade_011_10.md
Labels: documentation

#573 appengine: allow returning nil in AstarteValue.to_json_friendly
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/astarte_value.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/astarte_value_test.exs
Labels: API, app:appengine_api, blocking

#578 Update pretty log
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/mix.lock
  tools/astarte_e2e/mix.lock
  tools/astarte_export/mix.lock
Labels: chore
