Repository astarte-platform/astarte, pull requests merged in 2022-03, with the labels that each got.

#664 DUP: log the key when `unexpected_object_key` occurs
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
Labels: minor, app:data_updater_plant

#673 Discontinue 0.11
  README.md
  doc/mix.lock
  doc/pages/administrator/001-intro_administrator.md
  doc/pages/api/001-intro_api.md
  doc/pages/architecture/001-intro_architecture.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/001-intro_user.md
Labels: chore

#675 Do not remove operator docs in docs workflow
  .github/workflows/docs-workflow.yaml
Labels: documentation

#681 Forward port changes from v1.0
  CHANGELOG.md
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_trigger_engine/mix.lock
  tools/astarte_export/mix.lock
  tools/astarte_import/mix.lock
Labels: chore
