Repository astarte-platform/astarte, pull requests merged in 2022-06, with the labels that each got.

#706 AppEngine: do not crash on some malformed POST/PUT requests
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/fallback_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/views/error_view.ex
  apps/astarte_appengine_api/test/astarte_appengine_api_web/views/error_view_test.exs
Labels: API, app:appengine_api

#715 E2E: update dependencies
  tools/astarte_e2e/mix.lock
Labels: chore

#716 Docs: use `astartectl` v1.0.0
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  doc/pages/user/010-interacting_with_astarte.md
Labels: chore

#684 Document the procedure to migrate to the AstarteDefaultIngress
  doc/pages/administrator/020-prerequisites.md
  doc/pages/administrator/064-setup_astartedefaultingress.md
  doc/pages/administrator/066-migrate_to_astartedefaultingress.md
  doc/pages/administrator/095-advanced-operations.md
  doc/pages/upgrade/030-upgrade_100_10x.md
Labels: documentation

#686 RealmManagement / API: handle gracefully all trigger errors
  CHANGELOG.md
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/trigger_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/views/trigger_view.ex
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
Labels: minor, user experience, app:realm_management_api

#691 Appengine API: always consider properties unset succesful
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
Labels: app:appengine_api

#600 Add AstarteDeviceFleetSimulator to Astarte tools
  tools/astarte_device_fleet_simulator/.dockerignore
  tools/astarte_device_fleet_simulator/.formatter.exs
  tools/astarte_device_fleet_simulator/.gitignore
  tools/astarte_device_fleet_simulator/Dockerfile
  tools/astarte_device_fleet_simulator/README.md
  tools/astarte_device_fleet_simulator/config/config.exs
  tools/astarte_device_fleet_simulator/config/dev.exs
  tools/astarte_device_fleet_simulator/config/prod.exs
  tools/astarte_device_fleet_simulator/config/test.exs
  tools/astarte_device_fleet_simulator/lib/astarte_device_fleet_simulator/application.ex
  tools/astarte_device_fleet_simulator/lib/astarte_device_fleet_simulator/config.ex
  tools/astarte_device_fleet_simulator/lib/astarte_device_fleet_simulator/device.ex
  tools/astarte_device_fleet_simulator/lib/astarte_device_fleet_simulator/device_name_utils.ex
  tools/astarte_device_fleet_simulator/lib/astarte_device_fleet_simulator/scheduler.ex
  tools/astarte_device_fleet_simulator/mix.exs
  tools/astarte_device_fleet_simulator/mix.lock
  tools/astarte_device_fleet_simulator/priv/interfaces/org.astarte-platform.genericsensors.Values.json
  tools/astarte_device_fleet_simulator/test/test_helper.exs
Labels: enhancement

#719 AppEngine: do not fail on successful server-side property unset
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
Labels: app:appengine_api
