Repository astarte-platform/astarte, pull requests merged in 2023-06, with the labels that each got.

#782 DUP: Use the `internal` event type for Astarte internal messages (e.g. device heartbeat).
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_data_consumer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/server.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater_test.exs
Labels: enhancement, app:data_updater_plant, internals

#794 Prepare 1.1.0-rc.0 release
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing_api/mix.exs
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_trigger_engine/mix.exs
  doc/mix.exs
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
Labels: chore

#799 Prepare v1.2.0 dev
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  doc/mix.exs
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
  tools/astarte_e2e/mix.exs
  tools/astarte_export/mix.exs
  tools/astarte_import/mix.exs
Labels: chore

#798 Docs workflow: do not fail when setting up Elixir
  .github/workflows/docs-workflow.yaml
Labels: documentation, chore

#800 Fixes to astarte docs
  doc/pages/architecture/030-interface.md
  doc/pages/architecture/060-triggers.md
  doc/pages/architecture/070-auth.md
  doc/pages/architecture/080-mqtt-v1-protocol.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: documentation

#801 TriggerEngine: do not fail when receiving events with `version` unset
  CHANGELOG.md
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
Labels: bug, app:trigger_engine, internals

#802 Doc: bump Elixir version
  .github/workflows/docs-workflow.yaml
  doc/mix.exs
Labels: chore

#810 Prepare 1.1.0 release
  .github/workflows/astarte-apps-build-workflow.yaml
  CHANGELOG.md
  SECURITY.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/pages/tutorials/010-astarte_in_5_minutes.md
  docker-compose.yml
  tools/astarte_export/mix.exs
  tools/astarte_import/mix.exs
Labels: chore

#811 Doc: use updated initializer in tutorial
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: chore
