Repository astarte-platform/astarte, pull requests merged in 2023-10, with the labels that each got.

#850 Allowed patterns in interface schema
  doc/pages/architecture/040-interface_schema.md
Labels: documentation

#826 Appengine: properly wrap binaryblobarray to bson
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
  apps/astarte_appengine_api/test/support/database_test_helper.exs
Labels: bug, user experience, internals

#853 Realm Management: do not crash on synchronous operations
  CHANGELOG.md
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
Labels: API, app:realm_management

#852 DUP: decode and store binaryblob values correctly
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: app:data_updater_plant, internals

#854 Fix 1.0 changelog
  CHANGELOG.md
Labels: documentation, chore

#816 Support device deletion
  apps/astarte_data_updater_plant/config/test.exs
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/consumers_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/deletion_scheduler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/server.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/state.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/rpc/vmq_plugin.ex
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater_test.exs
  apps/astarte_data_updater_plant/test/support/database_test_helper.exs
  apps/astarte_data_updater_plant/test/support/mocks.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping/priv/migrations/realm/0005_create_deletion_in_progress_table.sql
  apps/astarte_realm_management/lib/astarte_realm_management.ex
  apps/astarte_realm_management/lib/astarte_realm_management/c_system.ex
  apps/astarte_realm_management/lib/astarte_realm_management/device_removal/device_remover.ex
  apps/astarte_realm_management/lib/astarte_realm_management/device_removal/scheduler.ex
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management/test/astarte_realm_management/device_remover_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/engine_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/queries_test.exs
  apps/astarte_realm_management/test/support/database_fixtures.ex
  apps/astarte_realm_management/test/support/database_test_helper.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/devices/devices.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/device_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/fallback_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/router.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/views/error_view.ex
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/test/astarte_realm_management_api/devices/devices_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/device_controller_test.exs
  apps/astarte_realm_management_api/test/support/astarte_realm_management_mock.ex
  apps/astarte_realm_management_api/test/support/astarte_realm_management_mock_db.ex
  docker-compose.yml
Labels: enhancement, main feature, API, app:data_updater_plant, app:realm_management, app:realm_management_api
