Repository astarte-platform/astarte, pull requests merged in 2024-07, with the labels that each got.

#965 Docs: document device deletion
  doc/pages/administrator/095-advanced-operations.md
  doc/pages/user/050-query_device.md
Labels: documentation

#966 Prepare 1.2.0 release
  CHANGELOG.md
  README.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/priv/static/astarte_appengine_api.yaml
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing_api/mix.exs
  apps/astarte_pairing_api/mix.lock
  apps/astarte_pairing_api/priv/static/astarte_pairing_api.yaml
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
  doc/mix.exs
  doc/swagger-ui-index.html
  docker-compose.yml
  tools/astarte_device_fleet_simulator/mix.exs
  tools/astarte_e2e/mix.exs
  tools/astarte_export/mix.exs
  tools/astarte_import/mix.exs
Labels: chore

#963 Docs: add a development guide
  doc/pages/development-guide/001-dev_guide.md
Labels: documentation

#974 AppEngine: refactor `device.ex` file
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/interface_value.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/interface_value_test.exs
Labels: app:appengine_api

#975 Forwardport release 1.1 into release-1.2
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/interface_value.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/device/interface_value_test.exs
Labels: chore

#960 Workflows: add build and push to Dockerhub workflow
  .github/workflows/publish-release-to-dockerhub-workflow.yaml
  .github/workflows/publish-snapshot-to-dockerhub-workflow.yaml
  .github/workflows/publish-tool-release-to-dockerhub-workflow.yaml
  .github/workflows/publish-tool-snapshot-to-dockerhub-workflow.yaml
Labels: discussion, internals

#968 Update documentantion on database structure
  doc/pages/architecture/090-database.md
Labels: documentation
