Repository astarte-platform/astarte, pull requests merged in 2024-03, with the labels that each got.

#893 Astarte: update /version endpoint
  CHANGELOG.md
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/device_status_by_alias_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/device_status_by_group_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/device_status_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/groups_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/interface_values_by_device_alias_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/interface_values_by_group_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/interface_values_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/router.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/router.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/controllers/agent_controller.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/controllers/device_controller.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/router.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/device_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/interface_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/interface_version_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/realm_config_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/trigger_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/trigger_policy_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/version_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/router.ex
Labels: API

#912 Set and enforce a maximum storage TTL for datastreams
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/state.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/engine.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/rpc/handler.ex
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping/test/astarte_housekeeping/engine_test.exs
  apps/astarte_housekeeping/test/astarte_housekeeping/queries_test.exs
  apps/astarte_housekeeping/test/astarte_housekeeping/rpc/amqp_server_test.exs
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/realms/non_negative_integer_or_unset_type.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/realms/realm.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/rpc/housekeeping.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/controllers/fallback_controller.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/controllers/realm_controller.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/views/error_view.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/views/realm_view.ex
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_housekeeping_api/priv/static/astarte_housekeeping_api.yaml
  apps/astarte_housekeeping_api/test/astarte_housekeeping_api/realms/realms_test.exs
  apps/astarte_housekeeping_api/test/astarte_housekeeping_api_web/controllers/realm_controller_test.exs
  apps/astarte_housekeeping_api/test/support/astarte_housekeeping_mock.ex
Labels: API, app:data_updater_plant, app:housekeeping, app:housekeeping_api

#913 RM: take maximum storage retention into account
  CHANGELOG.md
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management/test/astarte_realm_management/engine_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/queries_test.exs
  apps/astarte_realm_management/test/support/database_fixtures.ex
  apps/astarte_realm_management/test/support/database_test_helper.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/realm_config/realm_config.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/fallback_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/realm_config_controller.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/views/error_view.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/views/realm_config_view.ex
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/priv/static/astarte_realm_management_api.yaml
  apps/astarte_realm_management_api/test/astarte_realm_management_api/interfaces/interfaces_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/realm_config/realm_config_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/realm_config_controller_test.exs
  apps/astarte_realm_management_api/test/support/astarte_realm_management_mock.ex
  apps/astarte_realm_management_api/test/support/astarte_realm_management_mock_db.ex
Labels: enhancement, user experience, API, app:realm_management, app:realm_management_api
