Repository astarte-platform/astarte, pull requests merged in 2025-08, with the labels that each got.

#1473 refactor(housekeeping)!: use default replication naming from scylladb
  apps/astarte_housekeeping/lib/astarte_housekeeping/config.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/config/replication_strategy_type.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/realms/queries.ex
  apps/astarte_housekeeping/test/astarte_housekeeping/realms/queries_test.exs
Labels: size/s

#1474 fix: typos in telemetry names
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/telemetry.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant_web/telemetry.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/telemetry.ex
  apps/astarte_pairing/lib/astarte_pairing_web/telemetry.ex
  apps/astarte_realm_management/lib/astarte_realm_management_web/telemetry.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine_web/telemetry.ex
Labels: size/s

#1471 feat(e2e): device trigger round trip
  tools/astarte_e2e/lib/astarte_e2e/application.ex
  tools/astarte_e2e/lib/astarte_e2e/data_trigger.ex
  tools/astarte_e2e/lib/astarte_e2e/device_trigger.ex
  tools/astarte_e2e/lib/astarte_e2e/task_scheduler.ex
  tools/astarte_e2e/lib/astarte_e2e_web/router.ex
  tools/astarte_e2e/lib/astarte_e2e_web/trigger_controller.ex
Labels: size/m, size/s

#1478 refactor(e2e): don't start volatile trigger client with the device
  tools/astarte_e2e/lib/astarte_e2e/data_trigger.ex
  tools/astarte_e2e/lib/astarte_e2e/device.ex
  tools/astarte_e2e/lib/astarte_e2e/device_deletion.ex
  tools/astarte_e2e/lib/astarte_e2e/volatile_trigger_roundtrip/executor.ex
Labels: size/s

#1483 feat(e2e): amqp data trigger roundtrip
  .github/workflows/astarte-end-to-end-test-workflow.yaml
  tools/astarte_e2e/lib/astarte_e2e.ex
  tools/astarte_e2e/lib/astarte_e2e/amqp_data_trigger.ex
  tools/astarte_e2e/lib/astarte_e2e/amqp_triggers/consumer.ex
  tools/astarte_e2e/lib/astarte_e2e/config.ex
  tools/astarte_e2e/lib/astarte_e2e/data_trigger.ex
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
Labels: size/l

#1441 refactor(e2e): move realm creation to astarte_e2e
  .github/workflows/astarte-end-to-end-test-workflow.yaml
  tools/astarte_e2e/lib/astarte_e2e/application.ex
  tools/astarte_e2e/lib/astarte_e2e/config.ex
  tools/astarte_e2e/lib/astarte_e2e/config/jwt_public_key_pem_type.ex
  tools/astarte_e2e/lib/astarte_e2e/realm.ex
  tools/astarte_e2e/lib/astarte_e2e/task_scheduler.ex
Labels: size/m

#1490 docs: update changelog with configuration and env var changes
  CHANGELOG.md
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
Labels: size/s
