Repository astarte-platform/astarte, pull requests merged in 2025-05, with the labels that each got.

#1241 test(PAIRING API): Setup testing environment
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/controllers/fallback_controller.ex
  apps/astarte_pairing_api/test/astarte_pairing_api/agent/agent_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api_web/auth/auth_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api_web/controllers/agent_controller_test.exs
  apps/astarte_pairing_api/test/support/cases/conn_case.ex
  apps/astarte_pairing_api/test/support/cases/data_case.ex
  apps/astarte_pairing_api/test/support/channel_case.ex
  apps/astarte_pairing_api/test/support/helpers/jwt_test_helper.ex
Labels: size/s

#1242 test(PAIRING API): Add health and version controller tests
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/views/health_view.ex
  apps/astarte_pairing_api/test/astarte_pairing_api/health/health_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api_web/controllers/version_controller_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api_web/plugs/plug_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api_web/views/error_view_test.exs
Labels: size/m

#1246 HK remove helper files from test coverage
  apps/astarte_housekeeping/coveralls.json
Labels: size/xs

#1244 Hk new migrator tests
  apps/astarte_housekeeping/priv/migrations/astarte/0001_drop_astarte_schema_table.sql
  apps/astarte_housekeeping/test/astarte_housekeeping/migrator_test.exs
  apps/astarte_housekeeping/test/helpers/db_test_helper.ex
Labels: size/m

#1247 test(PAIRING API): Update all tests to run in async mode
  apps/astarte_pairing_api/test/astarte_pairing_api/agent/agent_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api/credentials/credentials_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api/health/health_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api/info/info_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api_web/auth/auth_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api_web/controllers/agent_controller_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api_web/controllers/device_controller_test.exs
  apps/astarte_pairing_api/test/astarte_pairing_api_web/controllers/version_controller_test.exs
Labels: size/s

#1251 fix(appengine): don't crash on invalid object update values
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
Labels: size/xs

#1250 test(AE): setup new test environment
  apps/astarte_appengine_api/.formatter.exs
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/test/astarte_appengine_api/data_transmitter_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api/stats/stats_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/auth/auth_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/channels/rooms_channel_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/device_status_by_alias_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/device_status_by_group_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/device_status_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/groups_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/interface_values_by_device_alias_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/interface_values_by_group_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/interface_values_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/stats_controller_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/plug/group_name_decoder_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/views/error_view_test.exs
  apps/astarte_appengine_api/test/support/cases/channel.ex
  apps/astarte_appengine_api/test/support/cases/conn.ex
  apps/astarte_appengine_api/test/support/cases/data.ex
  apps/astarte_appengine_api/test/support/helpers/database.ex
  apps/astarte_appengine_api/test/support/helpers/database_v2.ex
  apps/astarte_appengine_api/test/support/helpers/jwt.ex
  apps/astarte_appengine_api/test/test_helper.exs
Labels: size/m

#1254 fix(RM): avoid crashing on interface list
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/test/astarte_realm_management/interfaces_test.exs
Labels: size/xs

#1255 fix(docker): security patch docker
  docker-compose.yml
Labels: size/s

#1258 chore(AE): update data_access
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_housekeeping/mix.lock
  apps/astarte_pairing/mix.lock
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/amqp_consumer/queries.ex
  apps/astarte_trigger_engine/mix.lock
Labels: size/s

#1253 test(appengine): update_interface_values tests
  apps/astarte_appengine_api/mix.lock
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_v2_test.exs
Labels: size/m

#1260 test(RM API): Allow concurrent execution of tests
  apps/astarte_realm_management_api/test/astarte_realm_management_api/devices/devices_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/health/health_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/interfaces/interfaces_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/realm_config/realm_config_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/action_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/amqp_action_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/http_action_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/policies/policy_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/trigger_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/triggers_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/device_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_version_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/realm_config_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_policy_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/version_controller_test.exs
  apps/astarte_realm_management_api/test/support/cases/conn_case.ex
  apps/astarte_realm_management_api/test/support/cases/data_case.ex
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock_db.ex
Labels: size/l

#1263 chore(HK API): Remove unused `realm_exists?` function
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/rpc/housekeeping.ex
  apps/astarte_housekeeping_api/test/support/helpers/astarte_housekeeping_mock.ex
Labels: size/s

#1264 test(appengine): add `populate_interface` function
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/test/support/cases/device.ex
  apps/astarte_appengine_api/test/support/helpers/device.ex
  apps/astarte_appengine_api/test/test_helper.exs
Labels: size/m

#1265 test(HK API): Enhance test coverage and stability
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/realms/non_negative_integer_or_unset_type.ex
  apps/astarte_housekeeping_api/test/astarte_housekeeping_api/realms/realms_test.exs
  apps/astarte_housekeeping_api/test/astarte_housekeeping_api_web/controllers/realm_controller_test.exs
  apps/astarte_housekeeping_api/test/astarte_housekeeping_api_web/plugs/plug_test.exs
  apps/astarte_housekeeping_api/test/support/helpers/astarte_housekeeping_mock.ex
  apps/astarte_housekeeping_api/test/support/helpers/astarte_housekeeping_mock_db.ex
Labels: size/l

#1266 ci: codecov components
  .github/workflows/astarte-apps-build-workflow.yaml
  codecov.yml
Labels: size/s

#1272 chore: forward port of 1.1 into 1.2
  .github/workflows/astarte-apps-build-workflow.yaml
  codecov.yml
  doc/pages/architecture/090-database.md
Labels: size/m

#1262 fix: make `unset_property` work
  apps/astarte_appengine_api/coveralls.json
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/controllers/fallback_controller.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/views/error_view.ex
  apps/astarte_appengine_api/test/astarte_appengine_api_web/controllers/interface_controller_test.exs
  apps/astarte_appengine_api/test/support/cases/device.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/test/support/database_test_helper.exs
Labels: size/m

#1281 chore: forward port (into release-1.2)
  codecov.yaml
Labels: size/xs

#1275 test(appengine): add downsampling to interface value options gen
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_v2_reading_test.exs
  apps/astarte_appengine_api/test/support/helpers/database.ex
  apps/astarte_appengine_api/test/support/helpers/database_v2.ex
  apps/astarte_appengine_api/test/support/interface_values_retrieveal_generators.ex
Labels: size/s

#1273 test(DUP): add test dependencies
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_data_updater_plant/test/support/cases/data.ex
  apps/astarte_data_updater_plant/test/support/helpers/database.ex
  apps/astarte_data_updater_plant/test/support/test_helper.exs
Labels: size/m

#1274 Dup async tests
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/amqp_options_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/payloads_decoder_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/dup_device_delete_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/triggers_handler_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/value_match_operators_test.exs
  apps/astarte_data_updater_plant/test/support/database_test_helper.exs
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/l

#1285 chore: forward port of CI changes into release-1.2
  .github/codecov.yml
  .github/workflows/astarte-appengine-api-workflow.yaml
  .github/workflows/astarte-data-updater-plant-workflow.yaml
  .github/workflows/astarte-housekeeping-api-workflow.yaml
  .github/workflows/astarte-housekeeping-workflow.yaml
  .github/workflows/astarte-pairing-api-workflow.yaml
  .github/workflows/astarte-pairing-workflow.yaml
  .github/workflows/astarte-realm-management-api-workflow.yaml
  .github/workflows/astarte-realm-management-workflow.yaml
  .github/workflows/astarte-trigger-engine-workflow.yaml
Labels: size/s

#1279 refactor(DUP): move time-based actions away from impl.ex and test them separately
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/interface.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/time_based_actions.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/time_based_actions_test.exs
  apps/astarte_data_updater_plant/test/support/helpers/database.ex
Labels: size/xl

#1289 chore(DUP): remove DUP test warnings
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/server.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/interface_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/dup_device_delete_test.exs
  apps/astarte_data_updater_plant/test/support/amqp_events_consumer.ex
  apps/astarte_data_updater_plant/test/support/amqp_test_helper.ex
  apps/astarte_data_updater_plant/test/support/database_test_helper.ex
  apps/astarte_data_updater_plant/test/support/test_helper.exs
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/m

#1291 test(dup): avoid hardcoded values in `PayloadsDecoder` tests
  apps/astarte_data_updater_plant/.formatter.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/payloads_decoder_test.exs
Labels: size/m

#1292 DUP: fix expiry check and add tests
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/cache.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/cache_test.exs
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/m

#1293 test(DUP): add setup for dup tests and test `prune_interface`
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/interface_test.exs
  apps/astarte_data_updater_plant/test/support/cases/device.ex
  apps/astarte_data_updater_plant/test/support/helpers/database.ex
  apps/astarte_data_updater_plant/test/support/interface_update_generators.ex
Labels: size/l

#1295 fix(dup): avoid applying `astarte_instance_id` twice
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/deletion_scheduler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/time_based_actions.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/time_based_actions_test.exs
Labels: size/s

#1297 test(DUP): `Core.Interface.forget_interfaces/2`
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/interface_test.exs
Labels: size/s, size/l

#1296 test(DUP): test `extract_expected_types/4`
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/interface_test.exs
Labels: size/s, size/l
