Repository astarte-platform/astarte, pull requests merged in 2025-06, with the labels that each got.

#1283 Dup repo
  apps/astarte_data_updater_plant/config/config.exs
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/application.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/time_based_actions.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/repo.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/trigger_policy/queries.ex
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater_test.exs
  apps/astarte_data_updater_plant/test/support/database_test_helper.ex
Labels: size/m

#1311 chore: fix warnings
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/application.ex
Labels: size/xs

#1307 [SDTT-374] test(dup): queries tests part 1
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/queries_test.exs
  apps/astarte_data_updater_plant/test/support/helpers/database.ex
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/m, size/l

#1312 fix(dup): use safe_fetch_one in queries
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
Labels: size/xs

#1314 DUP move gather_interface_property_paths and reduce_interface_mapping…
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/interface.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/interface_test.exs
Labels: size/m, size/s, size/l

#1309 test(DUP): Add missing raised error test for `reload_datastream_maximum_storage_retention_on_expiry/2
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/time_based_actions_test.exs
Labels: size/s

#1313 refactor(DUP): drastically reduce `impl.ex`
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/data_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/device.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/time_based_actions.ex
Labels: size/xl

#1317 refactor(DUP): better (and more testable) error handling
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/data_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/data_trigger.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/device.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/error.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/interface.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/trigger.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/time_based_actions.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/device_test.exs
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/xl

#1319 chore(dup): remove unused module
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_data_consumer/connection_manager.ex
Labels: size/m

#1323 refactor(DUP): internal and heartbeat message handling
  apps/astarte_data_updater_plant/coveralls.json
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/heartbeat_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/internal_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/server.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/handle_heartbeat_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/internal_test.exs
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/m

#1316 DUP: test impl functions on trigger execution
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/data_trigger_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/trigger_test.exs
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/l, size/xl

#1326 refactor(dup): move handle_consume to its own module
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/control_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/control_handler_test.exs
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/l

#1332 refactor(DUP): move handle_introspection to its own module
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/introspection_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/introspection_handler_test.exs
Labels: size/m

#1349 refactor(DUP): move handle_introspection to it's own module
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/introspection_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/introspection_handler_test.exs
Labels: size/m, size/xl

#1338 refactor(HK): Remove `delete_realm` RPC
  apps/astarte_housekeeping/lib/astarte_housekeeping/engine.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/rpc/handler.ex
  apps/astarte_housekeeping/test/astarte_housekeeping/engine_test.exs
  apps/astarte_housekeeping/test/astarte_housekeeping/rpc/amqp_server_test.exs
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/config.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/realms/queries.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/realms/realms.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api/rpc/housekeeping.ex
  apps/astarte_housekeeping_api/test/astarte_housekeeping_api/realms/realms_test.exs
  apps/astarte_housekeeping_api/test/astarte_housekeeping_api_web/controllers/realm_controller_test.exs
  apps/astarte_housekeeping_api/test/support/helpers/astarte_housekeeping_mock.ex
  apps/astarte_housekeeping_api/test/support/helpers/astarte_housekeeping_mock_db.ex
  apps/astarte_housekeeping_api/test/test_helper.exs
Labels: size/m, size/l, size/xl

#1352 HK API: correlate request and response
  apps/astarte_housekeeping_api/config/prod.exs
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/endpoint.ex
Labels: minor, app:housekeeping_api, size/xs

#1334 refactor(RM): move more functions to the frontend
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/application.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/auth/auth.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/config.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/realm_config/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/realm_config/realm_config.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/realm_config/old_realm_config_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/realm_config/realm_config_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/auth/auth_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/realm_config_controller_test.exs
  apps/astarte_realm_management_api/test/support/cases/data.ex
  apps/astarte_realm_management_api/test/support/cases/data_case.ex
  apps/astarte_realm_management_api/test/support/helpers/database.ex
  apps/astarte_realm_management_api/test/test_helper.exs
Labels: size/l

#1345 feat(rm): remove install_trigger rpc
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/core.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/triggers.ex
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/triggers_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_controller_test.exs
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock.ex
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock_db.ex
Labels: size/l, size/xl

#1353 RM get triggers list rpc
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/triggers.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/triggers_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_controller_test.exs
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock.ex
Labels: size/s

#1359 refactor(rm): remove `update_interface` RPC
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management/test/astarte_realm_management/interfaces_test.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/core.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/interfaces.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/mapping_updates.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/interfaces/interfaces_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_controller_test.exs
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock.ex
Labels: size/xl

#1346 feat(RM): remove delete_device RPC
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/devices/devices.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/devices/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/devices/devices_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/device_controller_test.exs
  apps/astarte_realm_management_api/test/support/cases/device.ex
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock.ex
  apps/astarte_realm_management_api/test/support/helpers/device.ex
Labels: size/m, size/l, size/xl

#1357 refactor(RM): move `fetch_interface` to the RM frontend
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/interfaces.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/interface_controller.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/interfaces/interfaces_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/auth/auth_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/device_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_version_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/realm_config_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_policy_controller_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/version_controller_test.exs
  apps/astarte_realm_management_api/test/support/cases/conn_case.ex
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock.ex
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock_db.ex
Labels: size/m

#1361 refactor(RM): remove `get_trigger_policies_list` RPC
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/policies/policies.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/policies/queries.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/policies/policy_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_policy_controller_test.exs
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock.ex
Labels: size/m

#1362 refactor(rm): remove delete_interface RPC
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management/test/astarte_realm_management/interfaces_test.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/core.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/interfaces.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/interfaces/interfaces_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_controller_test.exs
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock.ex
Labels: size/l

#1364 refactor(RM): Remove get_interface_versions_list RPC
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management/test/astarte_realm_management/rpc/handler_test.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/interfaces.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/interfaces/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/interfaces/interfaces_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_version_controller_test.exs
Labels: size/m

#1372 feat(rm): move device removal from realm management to realm management api
  apps/astarte_realm_management/lib/astarte_realm_management.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/test/test_helper.exs
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/application.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/device_removal/core.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/device_removal/device_remover.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/device_removal/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/device_removal/scheduler.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/device_removal/core_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/device_removal/scheduler_test.exs
  apps/astarte_realm_management_api/test/support/generators/deletion_in_progress.ex
  apps/astarte_realm_management_api/test/support/generators/grouped_device.ex
  apps/astarte_realm_management_api/test/support/generators/individual_datastreams.ex
  apps/astarte_realm_management_api/test/support/generators/individual_property.ex
  apps/astarte_realm_management_api/test/support/generators/name.ex
Labels: size/l

#1376 fix(dup): do not crash when handling unset of a property
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/data_handler.ex
Labels: size/xs

#1375 chore: forward port `release-1.1` into `release-1.2`
  doc/mix.exs
  doc/mix.lock
  doc/pages/architecture/030-interface.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: size/s

#1371 feat(RM): remove install_trigger_policy RPC
  apps/astarte_realm_management/lib/astarte_realm_management/rpc/handler.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/rpc/realm_management.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/policies/core.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/policies/policies.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/policies/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/fallback_controller.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/policies/policy_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_policy_controller_test.exs
  apps/astarte_realm_management_api/test/support/helpers/policy.ex
Labels: size/m
