Repository astarte-platform/astarte, pull requests merged in 2025-04, with the labels that each got.

#1201 Prepare 1.2.1-alpha.0 release
  CHANGELOG.md
  apps/astarte_appengine_api/mix.exs
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping_api/mix.exs
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing_api/mix.exs
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_trigger_engine/mix.exs
  docker-compose.yml
Labels: chore

#1237 test(RM API): Expand and refactor triggers testing
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/triggers.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/controllers/trigger_controller.ex
  apps/astarte_realm_management_api/mix.exs
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/triggers_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_controller_test.exs
  apps/astarte_realm_management_api/test/support/fixtures/trigger.ex
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock.ex
  apps/astarte_realm_management_api/test/support/helpers/astarte_realm_management_mock_db.ex
Labels: size/l

#1236 test(RM API): Expand and refactor trigger actions testing
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/trigger.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/action_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/amqp_action_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/http_action_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/trigger_test.exs
Labels: size/m

#1219 Hk new engine test
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping/test/astarte_housekeeping/engine_test.exs
  apps/astarte_housekeeping/test/helpers/db_test_helper.ex
  apps/astarte_housekeeping/test/test_helper.exs
Labels: size/m

#1240 Hk remove csystem file
  apps/astarte_housekeeping/lib/astarte_housekeeping/c_system.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/migrator.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping/test/test_helper.exs
Labels: size/m
