Repository astarte-platform/astarte, pull requests merged in 2025-09, with the labels that each got.

#1487 feat(dup): add per-vhost pool management and dynamic connection handling
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_triggers_producer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_vhost_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/trigger.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/producers_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/triggers_handler_test.exs
  apps/astarte_data_updater_plant/test/support/cases/data.ex
  apps/astarte_data_updater_plant/test/support/database_test_helper.ex
  tools/astarte_e2e/lib/astarte_e2e/amqp_triggers/consumer.ex
Labels: size/m

#1499 fix(dup): correctly reconnect to amqp after a connection loss
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_events_producer.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/amqp_events_producer_test.exs
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/s

#1502 forward port release-1.2 into release-1.3
  apps/astarte_appengine_api/config/test.exs
  apps/astarte_data_updater_plant/config/config.exs
  apps/astarte_data_updater_plant/config/test.exs
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_events_producer.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/amqp_events_producer_test.exs
  apps/astarte_data_updater_plant/test/test_helper.exs
Labels: size/s

#1509 docs: add description for ASTARTE_INSTANCE_ID variable
  doc/pages/architecture/090-database.md
Labels: size/s, size/xs

#1485 feat(e2e): amqp device trigger roundtrip
  tools/astarte_e2e/lib/astarte_e2e/amqp_device_trigger.ex
Labels: size/m

#1513 chore(pairing): generate a log before returning cert_data
  apps/astarte_pairing/config/dev.exs
  apps/astarte_pairing/config/prod.exs
  apps/astarte_pairing/config/test.exs
  apps/astarte_pairing/lib/astarte_pairing/cfssl_credentials.ex
Labels: size/s, size/xs

#1511 Extract AMQP triggers producer into standalone library and update workflows
  .github/workflows/pr-container-build-workflow.yaml
  apps/astarte_data_updater_plant/Dockerfile
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_triggers_producer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_vhost_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/producers_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
  apps/astarte_data_updater_plant/mix.exs
  apps/astarte_data_updater_plant/mix.lock
  docker-compose.yml
  libs/astarte_events/.dockerignore
  libs/astarte_events/.formatter.exs
  libs/astarte_events/coveralls.json
  libs/astarte_events/lib/application.ex
  libs/astarte_events/lib/astarte_events/amqp_triggers/amqp_triggers.ex
  libs/astarte_events/lib/astarte_events/amqp_triggers/producer.ex
  libs/astarte_events/lib/astarte_events/amqp_triggers/vhost_supervisor.ex
  libs/astarte_events/lib/astarte_events/config.ex
  libs/astarte_events/mix.exs
  libs/astarte_events/mix.lock
Labels: size/l, size/xl

#1512 chore(pairing): generate a log when credentials creation fails
  apps/astarte_pairing/lib/astarte_pairing_web/controllers/device_controller.ex
Labels: size/s

#1520 test(pairing): regenerate expired test certificate
  apps/astarte_pairing/test/astarte_pairing/credentials/credentials_test.exs
  apps/astarte_pairing/test/astarte_pairing_web/controllers/device_controller_test.exs
Labels: size/m

#1518 chore(pairing): add logs when issuing a certificate fails
  apps/astarte_pairing/lib/astarte_pairing/cfssl_credentials.ex
Labels: size/xs

#1521 chore(pairing): show common_name in logs and include it in csr signin…
  apps/astarte_pairing/config/config.exs
  apps/astarte_pairing/lib/astarte_pairing/cfssl_credentials.ex
Labels: size/xs

#1523 refactor: extract event dispatching logic to astarte_events
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
  libs/astarte_events/lib/astarte_events/triggers_handler.ex
  libs/astarte_events/mix.exs
  libs/astarte_events/mix.lock
Labels: size/l

#1524 ci: don't skip dialyzer plt build with cache hit
  .github/workflows/astarte-apps-build-workflow.yaml
Labels: size/xs
