Repository astarte-platform/astarte, pull requests merged in 2025-03, with the labels that each got.

#1091 refactor(appengine): port Device delete queries to exandra
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/device.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
Labels: enhancement, chore, app:appengine_api

#1117 DUP tests: consistently define object aggregated value types
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater_test.exs
Labels: testing, app:data_updater_plant

#1093 DUP: move UPDATE queries from CQEx to Ecto
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/repo.ex
Labels: app:data_updater_plant, internals

#1104 DUP: move DELETE queries to Ecto
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/repo.ex
Labels: app:data_updater_plant, internals

#1123 DUP: use a more elegant style when handling some queries
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/repo.ex
Labels: minor, chore, app:data_updater_plant

#1119 DUP: move INSERT queries from CQEx to Ecto
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/repo.ex
Labels: database, app:data_updater_plant, internals

#1131 refactor(pairing): move xandra select to exandra
  apps/astarte_pairing/lib/astarte_pairing/queries.ex
Labels: database, app:pairing_api

#1120 Pairing: let it crash on database errors
  apps/astarte_pairing/lib/astarte_pairing/queries.ex
  apps/astarte_pairing/test/astarte_pairing/engine_test.exs
  apps/astarte_pairing/test/astarte_pairing/rpc/handler_test.exs
Labels: app:pairing

#1139 Pairing: don't crash on health check when db isn't available
  apps/astarte_pairing/lib/astarte_pairing/queries.ex
Labels: app:pairing, internals

#1133 refactor(dup): move xandra select to exandra
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/trigger_policy/queries.ex
Labels: database, app:data_updater_plant, internals

#1150 AE: do not crash on some device status queries
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
Labels: app:appengine_api, internals

#1149 DUP: do not crash when resending properties to device
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/impl.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
Labels: app:data_updater_plant, internals

#1140 refactor(hk): move xandra select to exandra
  apps/astarte_housekeeping/config/config.exs
  apps/astarte_housekeeping/lib/astarte_housekeeping/backend_supervisor.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/c_system.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/repo.ex
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
Labels: database, app:housekeeping, internals

#1146 DUP: use standard CL for queries
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/trigger_policy/queries.ex
Labels: app:data_updater_plant, internals

#1154 Realm Management: use standard CL for queries
  apps/astarte_realm_management/lib/astarte_realm_management/c_system.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
Labels: database, app:realm_management, internals

#1153 Backends: Use standard consistency levels in queries
  apps/astarte_housekeeping/lib/astarte_housekeeping/c_system.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/migrator.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/queries.ex
  apps/astarte_pairing/lib/astarte_pairing/queries.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/amqp_consumer/queries.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/events_consumer.ex
Labels: database, app:housekeeping, app:pairing, app:trigger_engine
