Repository astarte-platform/astarte, pull requests merged in 2025-07, with the labels that each got.

#1391 test(rm): fix flakiness
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/interface_controller_test.exs
Labels: size/s

#1392 refactor(rm): manually convert action map to action struct
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/triggers.ex
  apps/astarte_realm_management_api/test/astarte_realm_management_api_web/controllers/trigger_controller_test.exs
Labels: size/s

#1395 FP 1.2 -> 1.3
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_events_producer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/data_handler.ex
  apps/astarte_housekeeping/config/prod.exs
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/endpoint.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/triggers.ex
  doc/mix.exs
  doc/mix.lock
  doc/pages/architecture/030-interface.md
  doc/pages/tutorials/010-astarte_in_5_minutes.md
Labels: size/s

#1377 fix: handle missing interface in introspection
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/device.ex
Labels: size/s

#1378 fix(rm) crash during trigger installation
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/core.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/queries.ex
Labels: size/s

#1384 chore(rm): address (the majority of) `dialyzer` errors
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/auth/auth.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/device_removal/core.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/realm_config/queries.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/action.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/amqp_action.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/http_action.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/trigger.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/plug/verify_header.ex
Labels: size/m, size/s

#1396 test(rm): port tests from backend to api service
  apps/astarte_realm_management/test/astarte_realm_management/device_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/triggers_test.exs
  apps/astarte_realm_management/test/support/fixtures/trigger.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api/triggers/triggers.ex
  apps/astarte_realm_management_api/mix.lock
  apps/astarte_realm_management_api/test/astarte_realm_management_api/devices/devices_test.exs
  apps/astarte_realm_management_api/test/astarte_realm_management_api/triggers/triggers_test.exs
  apps/astarte_realm_management_api/test/support/fixtures/tagged_simple_trigger.ex
  apps/astarte_realm_management_api/test/support/fixtures/trigger.ex
Labels: size/l

#1393 fix(AE): Dialyzer warnings
  apps/astarte_appengine_api/lib/astarte_appengine_api/device/queries.ex
  apps/astarte_appengine_api/test/astarte_appengine_api/data_transmitter_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api/device/device_test.exs
  apps/astarte_appengine_api/test/astarte_appengine_api_web/channels/rooms_channel_test.exs
  apps/astarte_appengine_api/test/support/cases/channel.ex
  apps/astarte_appengine_api/test/support/helpers/database.ex
  apps/astarte_appengine_api/test/support/interface_values_retrieveal_generators.ex
Labels: size/m, size/s

#1403 fix(DUP): Fix argument format
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/data_handler.ex
Labels: size/xs

#1398 Forward port release-1.1 into release-1.2
  .github/workflows/astarte-apps-build-workflow.yaml
  apps/astarte_appengine_api/lib/astarte_appengine_api_web.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/gettext.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/backend_supervisor.ex
  apps/astarte_housekeeping_api/lib/astarte_housekeeping_api_web/gettext.ex
  apps/astarte_housekeeping_api/mix.lock
  apps/astarte_pairing_api/lib/astarte_pairing_api_web.ex
  apps/astarte_pairing_api/lib/astarte_pairing_api_web/gettext.ex
  apps/astarte_pairing_api/mix.lock
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web.ex
  apps/astarte_realm_management_api/lib/astarte_realm_management_api_web/gettext.ex
  apps/astarte_realm_management_api/mix.lock
Labels: size/s

#1394 fix(DUP): dialyzer errors
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_data_consumer/supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/consumers_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/cache.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/cached_path.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/interface.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/payloads_decoder.ex
Labels: size/s

#1405 test(dup): device introspection
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/introspection_handler_test.exs
  apps/astarte_data_updater_plant/test/support/helpers/data_updater.ex
Labels: size/s

#1408 Push wzpxxzylstrp
  .github/workflows/fast-forward.yaml
  .github/workflows/pr-fast-forward-check.yaml
  apps/astarte_appengine_api/mix.lock
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/data_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/gettext.ex
  apps/astarte_housekeeping/mix.lock
  apps/astarte_pairing/lib/astarte_pairing_web.ex
  apps/astarte_pairing/lib/astarte_pairing_web/gettext.ex
  apps/astarte_pairing/mix.lock
  apps/astarte_realm_management/lib/astarte_realm_management_web.ex
  apps/astarte_realm_management/lib/astarte_realm_management_web/gettext.ex
  apps/astarte_realm_management/mix.lock
Labels: size/m, size/s

#1413 chore(rm): rebrand test directories
  apps/astarte_realm_management/test/astarte_realm_management/device_removal/core_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/device_removal/scheduler_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/devices/devices_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/interfaces/interfaces_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/realm_config/realm_config_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/triggers/action_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/triggers/amqp_action_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/triggers/http_action_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/triggers/policies/policy_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/triggers/trigger_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/triggers/triggers_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/auth/auth_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/controllers/device_controller_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/controllers/interface_controller_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/controllers/interface_version_controller_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/controllers/realm_config_controller_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/controllers/trigger_controller_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/controllers/trigger_policy_controller_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/controllers/version_controller_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/plugs/plug_test.exs
  apps/astarte_realm_management/test/astarte_realm_management_web/views/error_view_test.exs
Labels: size/xs

#1414 test(rm): remove flakiness
  apps/astarte_realm_management/test/astarte_realm_management/devices/devices_test.exs
Labels: size/s

#1412 ci: activate dialyzer
  .github/workflows/astarte-apps-build-workflow.yaml
Labels: size/xs

#1421 chore(appengine): fix typo
  apps/astarte_appengine_api/test/astarte_appengine_api_web/auth/auth_test.exs
Labels: size/xs

#1422 chore: update readmes
  apps/astarte_appengine_api/README.md
  apps/astarte_data_updater_plant/README.md
  apps/astarte_housekeeping/README.md
  apps/astarte_pairing/README.md
  apps/astarte_realm_management/README.md
  apps/astarte_trigger_engine/README.md
Labels: size/m

#1428 refactor(dup): move `AMQP` producer processes
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_pipeline_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/producers_supervisor.ex
Labels: size/s

#1430 refactor(pairing): expand pairing metrics
  apps/astarte_pairing/lib/astarte_pairing_web/controllers/agent_controller.ex
  apps/astarte_pairing/lib/astarte_pairing_web/controllers/device_controller.ex
  apps/astarte_pairing/lib/astarte_pairing_web/telemetry.ex
Labels: size/s

#1432 refactor(trigger engine): expand health check to include RabbitMQ connection check
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/health.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine_web/plug/health_plug.ex
  apps/astarte_trigger_engine/mix.exs
  apps/astarte_trigger_engine/mix.lock
Labels: size/m

#1440 fix(rm): avoid crash when deleting devices with invalid introspection
  apps/astarte_realm_management/lib/astarte_realm_management/device_removal/core.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
  apps/astarte_realm_management/test/astarte_realm_management/device_removal/core_test.exs
Labels: size/s

#1426 chore(rm): update data_access
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/plug/health_plug.ex
  apps/astarte_appengine_api/mix.exs
  apps/astarte_appengine_api/mix.lock
  apps/astarte_pairing/lib/astarte_pairing/health.ex
  apps/astarte_pairing/mix.exs
  apps/astarte_pairing/mix.lock
  apps/astarte_pairing/test/astarte_pairing/health/health_test.exs
  apps/astarte_pairing/test/astarte_pairing_web/plugs/plug_test.exs
  apps/astarte_realm_management/lib/astarte_realm_management/interfaces/queries.ex
  apps/astarte_realm_management/lib/astarte_realm_management_web/plug/health_plug.ex
  apps/astarte_realm_management/mix.exs
  apps/astarte_realm_management/mix.lock
  apps/astarte_realm_management/test/astarte_realm_management_web/plugs/plug_test.exs
Labels: size/m, size/s

#1437 chore(PA): Remove `Xandra.Cluster` from supervision tree
  apps/astarte_pairing/lib/astarte_pairing/application.ex
Labels: size/xs

#1434 refactor(DUP): Expand metrics
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_data_consumer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_events_producer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/control_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/core/data_handler.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant_web/telemetry.ex
Labels: size/m

#1444 fix(rm): ensure devices are cleaned up after being deleted
  apps/astarte_realm_management/lib/astarte_realm_management/device_removal/device_remover.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
Labels: size/s

#1448 fix: avoid leaving dangling device deletion entries
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/mix.lock
  apps/astarte_realm_management/lib/astarte_realm_management/engine.ex
  apps/astarte_realm_management/lib/astarte_realm_management/queries.ex
Labels: size/s

#1445 refactor(AEA): expand metrics
  apps/astarte_appengine_api/lib/astarte_appengine_api/rooms/room.ex
  apps/astarte_appengine_api/lib/astarte_appengine_api_web/telemetry.ex
Labels: size/s

#1450 feat(dup): separate amqp trigger exchanges in their own vhost
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/amqp_triggers_producer.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/producers_supervisor.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/triggers_handler.ex
Labels: size/m

#1410 refactor(e2e): register device from elixir project
  .github/workflows/astarte-end-to-end-test-workflow.yaml
  tools/astarte_e2e/lib/astarte_e2e.ex
  tools/astarte_e2e/lib/astarte_e2e/application.ex
  tools/astarte_e2e/lib/astarte_e2e/config.ex
  tools/astarte_e2e/lib/astarte_e2e/device.ex
  tools/astarte_e2e/lib/astarte_e2e/scheduler.ex
  tools/astarte_e2e/mix.exs
  tools/astarte_e2e/mix.lock
Labels: size/m

#1456 chore(HK): Add credo dependency
  apps/astarte_housekeeping/.credo.exs
  apps/astarte_housekeeping/lib/astarte_housekeeping/application.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/auth/auth.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/auth/user.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/backend_supervisor.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/config.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/config/jwt_public_key_pem_type.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/migrator.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/realms/core.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/realms/non_negative_integer_or_unset_type.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/realms/queries.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/realms/realm.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/realms/realms.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/release_task.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/auth_guardian.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/plug/authorize_path.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/plug/guardian_authorize_path.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/plug/health_plug.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/plug/metrics_plug.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/plug/verify_header.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/telemetry.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/telemetry/api_usage.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/views/realm_view.ex
  apps/astarte_housekeeping/mix.exs
  apps/astarte_housekeeping/mix.lock
  apps/astarte_housekeeping/test/astarte_housekeeping/migrator_test.exs
  apps/astarte_housekeeping/test/astarte_housekeeping/realms/queries_test.exs
  apps/astarte_housekeeping/test/astarte_housekeeping/realms/realms_test.exs
  apps/astarte_housekeeping/test/astarte_housekeeping_web/auth/auth_test.exs
  apps/astarte_housekeeping/test/astarte_housekeeping_web/controllers/realm_controller_test.exs
  apps/astarte_housekeeping/test/support/cases/auth_case.ex
  apps/astarte_housekeeping/test/support/cases/conn_case.ex
  apps/astarte_housekeeping/test/support/cases/data_case.ex
  apps/astarte_housekeeping/test/support/fixtures/realm_fixtures.ex
  apps/astarte_housekeeping/test/support/helpers/database.ex
  apps/astarte_housekeeping/test/support/helpers/jwt_test_helper.ex
Labels: size/l

#1461 chore(hk): comply with credo defaults
  apps/astarte_housekeeping/.credo.exs
  apps/astarte_housekeeping/config/config.exs
  apps/astarte_housekeeping/lib/astarte_housekeeping/migrator.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/realms/queries.ex
Labels: size/m

#1451 ci: e2e caching
  .github/workflows/astarte-end-to-end-test-workflow.yaml
Labels: size/m, size/s

#1463 deat(dup): support xandra telemetry bounce
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/config/telemetry_type.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant_web/telemetry.ex
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant_web/telemetry/database_events.ex
Labels: size/m

#1464 feat(housekeeping): support xandra telemetry events boungcing
  apps/astarte_housekeeping/lib/astarte_housekeeping/config.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping/config/telemetry_type.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/telemetry.ex
  apps/astarte_housekeeping/lib/astarte_housekeeping_web/telemetry/database_events.ex
Labels: size/m

#1466 feat(te): support xandra telemetry events
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/config.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine/config/telemetry_type.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine_web/telemetry.ex
  apps/astarte_trigger_engine/lib/astarte_trigger_engine_web/telemetry/database_events.ex
Labels: size/m

#1458 fix(dup): crash when performing updates of deleted values
  apps/astarte_data_updater_plant/lib/astarte_data_updater_plant/data_updater/queries.ex
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/core/device_test.exs
  apps/astarte_data_updater_plant/test/astarte_data_updater_plant/data_updater/queries_test.exs
  apps/astarte_realm_management/test/astarte_realm_management/device_test.exs
  apps/astarte_realm_management/test/test_helper.exs
Labels: size/s
